<div class="leadership-content-wrapper">
    <div class="leadership-content about-inner-content">

        <div class="heading"
             [style.font-size]="(windowSize.width * 65 * windowSize.rate) / 1920 + 'px'"
             [style.line-height]="(windowSize.width * 88 * windowSize.rate) / 1920 + 'px'"
        >
            Leadership
        </div>

        <div class="description"
             [style.font-size]="(windowSize.width * 22 * windowSize.rate) / 1920 + 'px'"
             [style.line-height]="(windowSize.width * 35 * windowSize.rate) / 1920 + 'px'"
        >
            We practice design, engineering and strategy in equal parts. We operate as a single unit,
            made up of small integrated teams.
        </div>

        <div class="leaders">
            <div class="leader">
                <div class="image" [style.backgroundImage]="'url(assets/images/AboutUs/ali_reduced@2x.png)'"></div>
                <div class="about">
                    <div class="author"
                         [style.font-size]="(windowSize.width * 19 * windowSize.rate) / 1920 + 'px'"
                         [style.line-height]="(windowSize.width * 25 * windowSize.rate) / 1920 + 'px'">
                        Ali Tassavor
                    </div>
                    <div class="position"
                         [style.font-size]="(windowSize.width * 16 * windowSize.rate) / 1920 + 'px'"
                         [style.line-height]="(windowSize.width * 25* windowSize.rate) / 1920 + 'px'">
                        CEO & Director Of Technology
                    </div>
                </div>
            </div>
            <div class="leader">
                <div class="image" [style.backgroundImage]="'url(assets/images/AboutUs/ayman_reduced@2x.png)'"></div>
                <div class="about">
                    <div class="author"
                         [style.font-size]="(windowSize.width * 19 * windowSize.rate) / 1920 + 'px'"
                         [style.line-height]="(windowSize.width * 25* windowSize.rate) / 1920 + 'px'">
                        Ayman Eshaghpour
                    </div>
                    <div class="position"
                         [style.font-size]="(windowSize.width * 16 * windowSize.rate) / 1920 + 'px'"
                         [style.line-height]="(windowSize.width * 25 * windowSize.rate) / 1920 + 'px'">
                        Managing Partner & Creative Director
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
