$font-regular: 'Regular, Open Sans, sans-serif';
$font-extraBold: 'Extrabold, Open Sans, sans-serif';


.leadership-content-wrapper {
  width: 100%;

  .heading {
    text-align: left;
    font-size: 65px;
    line-height: 88px;
    font-family: $font-extraBold;
    letter-spacing: -2.6px;
    color: #000A1D;
    opacity: 1;
  }
  .description {
    padding: 33px 0;
    text-align: left;
    font-size: 22px;
    line-height: 35px;
    font-family: $font-regular;
    letter-spacing: 0;
    color: #000A1D;
    opacity: 1;
  }
  .leaders {
    display: flex;
    width: 100%;
    .leader {
      width: 50%;
      .image {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 529px;
      }
      .about {
        display: inline-block;
        padding: 35px 25px;
        margin-top: -31px;
        width: 73%;
        background-color: #A7F948;
        color: #000A1D;
        .author {
          font-weight: bold;
        }
      }
    }
    .leader:first-child {
      padding-right: 11px;
      .image {
        background-image: url('../../../../../assets/images/AboutUs/ali_reduced@2x.png');
      }
      .about {
        text-align: left;
        float: left;
      }
    }
    .leader:last-child {
      padding-left: 11px;
      .image {
        background-image: url('../../../../../assets/images/AboutUs/ayman_reduced@2x.png');
      }
      .about {
        text-align: right;
        float: right;
      }
    }
  }
}
