<div class="leadership-content-wrapper">
    <div class="leadership-content about-inner-content">

        <div class="heading"
             [style.font-size]="(windowSize.width * 65 * windowSize.rate) / 1920 + 'px'"
             [style.line-height]="(windowSize.width * 88 * windowSize.rate) / 1920 + 'px'"
        >
            {{ content.title }}
        </div>

        <div class="description"
             [style.font-size]="(windowSize.width * 22 * windowSize.rate) / 1920 + 'px'"
             [style.line-height]="(windowSize.width * 35 * windowSize.rate) / 1920 + 'px'"
        >
            {{ content.description }}
        </div>

        <div class="leaders">
            <div class="leader">
                <div class="image" [style.backgroundImage]="'url('+  content.first.avatar +')'"></div>
                <div class="about">
                    <div class="author"
                         [style.font-size]="(windowSize.width * 19 * windowSize.rate) / 1920 + 'px'"
                         [style.line-height]="(windowSize.width * 25 * windowSize.rate) / 1920 + 'px'">
                        {{ content.first.name }}
                    </div>
                    <div class="position"
                         [style.font-size]="(windowSize.width * 16 * windowSize.rate) / 1920 + 'px'"
                         [style.line-height]="(windowSize.width * 25* windowSize.rate) / 1920 + 'px'">
                        {{ content.first.job }}
                    </div>
                </div>
            </div>
            <div class="leader">
                <div class="image" [style.backgroundImage]="'url('+ content.second.avatar +')'"></div>
                <div class="about">
                    <div class="author"
                         [style.font-size]="(windowSize.width * 19 * windowSize.rate) / 1920 + 'px'"
                         [style.line-height]="(windowSize.width * 25* windowSize.rate) / 1920 + 'px'">
                       {{ content.second.name }}
                    </div>
                    <div class="position"
                         [style.font-size]="(windowSize.width * 16 * windowSize.rate) / 1920 + 'px'"
                         [style.line-height]="(windowSize.width * 25 * windowSize.rate) / 1920 + 'px'">
                        {{ content.second.job }}
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
