<div class="leadership-content-wrapper">
    <div class="leadership-content about-inner-content" *ngIf="content"
         [style.padding]="
            (windowSize.width * 97)/1920 + 'px '
         + (windowSize.width * 134)/1920 + 'px '
         + (windowSize.width * 139)/1920 + 'px '
         + (windowSize.width * 139)/1920 + 'px' ">

        <div class="heading"
             [style.font-size]="(windowSize.width * content.title.fontSize * windowSize.rate) / 1920 + 'px'"
             [style.line-height]="(windowSize.width * content.title.lineHeight * windowSize.rate) / 1920 + 'px'"
             [style.font-family]="content.title.fontFamily"
        >
            {{ content.title.text }}
        </div>

        <div class="description"
             [style.font-size]="(windowSize.width * content.description.fontSize * windowSize.rate) / 1920 + 'px'"
             [style.line-height]="(windowSize.width * content.description.lineHeight * windowSize.rate) / 1920 + 'px'"
             [style.font-family]="content.description.fontFamily"
        >
            {{ content.description.text }}
        </div>

        <div class="leaders">
            <div class="leader">
                <div class="image" [style.backgroundImage]="'url('+  content.first.avatar +')'"></div>
                <div class="about">
                    <div class="author"
                         [style.font-size]="(windowSize.width * content.first.name.fontSize * windowSize.rate) / 1920 + 'px'"
                         [style.line-height]="(windowSize.width * content.first.name.lineHeight * windowSize.rate) / 1920 + 'px'"
                         [style.font-family]="content.first.name.fontFamily"
                    >
                        {{ content.first.name.text }}
                    </div>
                    <div class="position"
                         [style.font-size]="(windowSize.width * content.first.job.fontSize * windowSize.rate) / 1920 + 'px'"
                         [style.line-height]="(windowSize.width * content.first.job.lineHeight * windowSize.rate) / 1920 + 'px'"
                         [style.font-family]="content.first.job.fontFamily"
                    >
                        {{ content.first.job.text }}
                    </div>
                </div>
            </div>
            <div class="leader">
                <div class="image" [style.backgroundImage]="'url('+ content.second.avatar +')'"></div>
                <div class="about">
                    <div class="author"
                         [style.font-size]="(windowSize.width * content.second.name.fontSize * windowSize.rate) / 1920 + 'px'"
                         [style.line-height]="(windowSize.width * content.second.name.lineHeight* windowSize.rate) / 1920 + 'px'"
                         [style.font-family]="content.second.name.fontFamily"
                    >
                        {{ content.second.name.text }}
                    </div>
                    <div class="position"
                         [style.font-size]="(windowSize.width * content.second.job.fontSize * windowSize.rate) / 1920 + 'px'"
                         [style.line-height]="(windowSize.width * content.second.job.lineHeight * windowSize.rate) / 1920 + 'px'"
                         [style.font-family]="content.second.job.fontFamily"
                    >
                        {{ content.second.job.text }}
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
