$section-2-width: 33.33%;
$backgroundColor: #262626;
$backgroundDelayD: 1700ms;
$backgroundDelayM: 2000ms;

//$section-3-width: calc(25% - 5px);
//$section-4-width: calc(25% - 5px);

// // // // // ANIMATION // // // // //

//.please-wait-false {
//  position: absolute;
//  top: 56px;
//  left: calc(56px + 25% - 28px);
//  width: calc(100% - 112px - 25% + 28px);
//  height: calc(100vh - 112px);
//  z-index: 10000;
//
//  .loading-section-false {
//    background-color: $backgroundColor;
//    display: block;
//    position: relative;
//    width: 100%;
//    height: 100%;
//  }

  //.message-false {
  //  position: absolute;
  //  top: 80%;
  //  width: 90%;
  //  left: 5%;
  //
  //  .letter {
  //    position: relative;
  //    display: inline-block;
  //    margin-left: 20px;
  //    color: #fff;
  //    font-family: "Open Sans Bold", sans-serif;
  //    font-size: 76px;
  //    line-height: 86px;
  //    z-index: -1;
  //  }
  //
  //  .hideMessage {
  //    display: inline-block;
  //    background-color: black;
  //    position: absolute;
  //    top: -150px;
  //    height: 300px;
  //    z-index: 10;
  //  }
  //}
//}

.loadBackActive {
  animation: showSecDescS 1.8s ease-in-out;
  animation-fill-mode: forwards!important;
}
//.loadLetterActive {
//  animation: move 1.2s ease-in-out;
//}
//.loadLetterHideActive {
//  animation: stand 1.2s ease-in-out;
//}

.loadLetterActive {
  .letter {
    animation: move 850ms ease-in-out!important;
  }
  .upShow {
    animation: stand 850ms ease-in-out!important;
  }
}

.please-wait {
  position: absolute;
  top: 56px;
  left: calc(56px + 25% - 28px);
  width: calc(100% - 112px - 25% + 28px);
  height: calc(100vh - 112px);
  z-index: 10000;

  .loading-section-1 {
    background-color: $backgroundColor;
    animation-delay: $backgroundDelayD;
    display: inline-block;
    position: relative;
    width: $section-2-width;
    height: 100%;
  }

  .loading-section-2 {
    background-color: $backgroundColor;
    animation-delay: $backgroundDelayD + 50ms;
    display: inline-block;
    position: relative;
    width: $section-2-width;
    height: 100%;
  }

  .loading-section-3 {
    background-color: $backgroundColor;
    animation-delay: $backgroundDelayD + 100ms;
    display: inline-block;
    position: relative;
    width: $section-2-width;
    height: 100%;
  }

  .message {
    position: absolute;
    top: 95%;
    transform: translateY(-95%);
    width: 90%;
    left: 5%;

    .letter {
      display: inline-block;
      margin-right: 10px;
      animation: move_1 600ms ease-in-out;
      animation-fill-mode: forwards;
      color: #fff;
      font-family: "Open Sans ExtraBold", sans-serif;
      z-index: 400;

      .upShow {
        position: absolute;
        width: 150%;
        height: 105%;
        top: 0;
        left: 0;
        z-index: 20;
        background-color: $backgroundColor;
        animation: stand_1 600ms ease-in-out;
        animation-fill-mode: forwards;
      }
    }

    //.hideMessage {
    //  display: none;
    //  animation: mutation 2s ease-in-out;
    //  animation-delay: 350ms;
    //  //display: inline-block;
    //  //background-color: $backgroundColor;
    //  background-color: yellow;
    //  position: absolute;
    //  top: -150px;
    //  height: 200px;
    //  z-index: 300;
    //}
  }
}

@keyframes stand_1 {
  0% {
    top: 0;
    width: 150%;
    height: 105%;
  }
  30% {
    top: 70%;
    width: 112%;
    height: 35%;
  }
  100% {
    top: 105%;
    height: 0;
    width: 0;
  }
}

@keyframes move_1 {
  0% {
    z-index: 0;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  100% {
    z-index: 400;
    -webkit-transform: translate(0, -100%);
    transform: translate(0, -100%);
  }
}

.accordion-items {
  position: relative;
}

.slider-item {
  background-color: $backgroundColor;
}

.animate {
  animation-name: matrix;
  animation-duration: 1.8s;
  animation-timing-function: ease-in-out;
  animation-delay: 1.6s;
}

// // // // // ONE TYPE // // // // //
//
//@keyframes showSecDescM {
//  0% {
//    margin-left: 0;
//    width: $section-1-width;
//  }
//  100% {
//    margin-left: $section-1-width;
//    width: 0;
//  }
//}

@keyframes showSecDescS {
  0% {
    margin-left: 0;
    width: $section-2-width;
  }
  100% {
    margin-left: $section-2-width;
    width: 0;
  }
}

// // // // // SECOND TYPE // // // // //

@keyframes showSecDescMS {
  0% {
    margin-left: 0;
    width: 100%;
  }
  100% {
    margin-left: 100%;
    width: 0;
  }
}

@keyframes showSecDescSS {
  0% {
    margin-left: 0;
    width: 33.33%;
  }
  100% {
    margin-left: 33.33%;
    width: 0;
  }
}

// // // // // MOBILE TYPE // // // // //

@keyframes showSeMob {
  0% {
    margin-left: 0;
    width: 100%;
  }
  100% {
    margin-left: 100%;
    width: 0;
  }
}

// // // // // // // // // //

@keyframes mutation {
  0% {
    width: 0;
  }
  100% {
    width: 100px;
  }
}

@keyframes stand {
  0% {
    top: 0;
    width: 0;
    height: 105%;
  }
  100% {
    width: 112%;
  }
}

@keyframes move {
  0% {
    -webkit-transform: translate(0, -100%);
    transform: translate(0, -100%);
  }
  100% {
    -webkit-transform: translate(100%, -100%);
    transform: translate(100%, -100%);
  }
}

@keyframes matrix {
  0% {
    -webkit-transform: matrix(1.30, 0, 0, 1.60, 0, 0);
    transform: matrix(1.30, 0, 0, 1.60, 0, 0);
  }
  100% {
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
    transform: matrix(1, 0, 0, 1, 0, 0);
  }
}

// // // // // MEDIA // // // // //

@media (max-width: 992px) {
  .please-wait-false {
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
  }

  .please-wait {
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    .loading-section-1 {
      animation: showSecDescSS 2s ease-in-out;
      animation-delay: $backgroundDelayM;
      display: inline-block;
      position: relative;
      width: 33.33%;
      height: 100%;
    }

    .loading-section-2 {
      animation: showSecDescSS 2s ease-in-out;
      animation-delay: $backgroundDelayM + 50ms;
      display: inline-block;
      position: relative;
      width: 33.33%;
      height: 100%;
    }

    .loading-section-3 {
      animation: showSecDescSS 2s ease-in-out;
      animation-delay: $backgroundDelayM + 100ms;
      display: inline-block;
      position: relative;
      width: 33.33%;
      height: 100%;
    }
  }
}

@media (max-width: 767px) {
  //.please-wait-false {
  //.message-false {
  //  top: 50%;
  //
  //  .letter {
  //    font-size: 65px;
  //    line-height: 80px;
  //  }
  //
  //  .hideMessage {
  //    height: 350px;
  //  }
  //}
  //}
  .please-wait {

    .loading-section-1 {
      animation: showSeMob 1800ms ease-in-out;
      animation-delay: $backgroundDelayM;
      display: block;
      position: relative;
      width: 100%;
      height: 80px;
    }

    .loading-section-2 {
      animation: showSeMob 1800ms ease-in-out;
      animation-delay: $backgroundDelayM + 100ms;
      display: block;
      position: relative;
      width: 100%;
      height: calc(100vh / 2 - 40px);
    }

    .loading-section-3 {
      animation: showSeMob 1800ms ease-in-out;
      animation-delay: $backgroundDelayM + 200ms;
      display: block;
      position: relative;
      width: 100%;
      height: calc(100vh / 2 - 40px);
    }

    .message {

      .letter {
        font-size: 20px !important;
        line-height: 45px !important;
      }

      //.hideMessage {
      //  height: 350px;
      //}
    }
  }

}
