$section-2-width: calc(33.33%);
$backgroundColor: #262626;
//$section-3-width: calc(25% - 5px);
//$section-4-width: calc(25% - 5px);
// // // // // ANIMATION // // // // //

.please-wait-false {
  position: absolute;
  top: 56px;
  left: calc(97px + 25% - 49px);
  width: calc(100% - 195px - 25% + 49px);
  height: calc(100vh - 112px);
  z-index: 10000;

  .loading-section-false {
    background-color: $backgroundColor;
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
  }

  //.message-false {
  //  position: absolute;
  //  top: 80%;
  //  width: 90%;
  //  left: 5%;
  //
  //  .letter {
  //    position: relative;
  //    display: inline-block;
  //    margin-left: 20px;
  //    color: #fff;
  //    font-family: "Open Sans Bold", sans-serif;
  //    font-size: 76px;
  //    line-height: 86px;
  //    z-index: -1;
  //  }
  //
  //  .hideMessage {
  //    display: inline-block;
  //    background-color: black;
  //    position: absolute;
  //    top: -150px;
  //    height: 300px;
  //    z-index: 10;
  //  }
  //}
}

.please-wait {
  position: absolute;
  top: 56px;
  left: calc(97px + 25% - 49px);
  width: calc(100% - 195px - 25% + 49px);
  height: calc(100vh - 112px);
  z-index: 10000;

  .loading-section-2 {
    background-color: $backgroundColor;
    animation: showSecDescS 1.8s ease-in-out;
    animation-delay: 1700ms;
    display: inline-block;
    position: relative;
    width: $section-2-width;
    height: 100%;
  }

  .loading-section-3 {
    background-color: $backgroundColor;
    animation: showSecDescS 1.8s ease-in-out;
    animation-delay: 1750ms;
    display: inline-block;
    position: relative;
    width: $section-2-width;
    height: 100%;
  }

  .loading-section-4 {
    background-color: $backgroundColor;
    animation: showSecDescS 1.8s ease-in-out;
    animation-delay: 1800ms;
    display: inline-block;
    position: relative;
    width: $section-2-width;
    height: 100%;
  }

  .message {
    position: absolute;
    top: 75%;
    width: 90%;
    left: 5%;

    .letter {
      display: inline-block;
      margin-left: 10px;
      color: #fff;
      font-family: "Open Sans Bold", sans-serif;
      font-size: 76px;
      line-height: 86px;
      animation: move 1.2s ease-in-out;
      z-index: 10;

      .upShow {
        position: absolute;
        width: 112%;
        height: 105%;
        left: 0;
        animation: stand 1.2s ease-in-out;
        z-index: 20;
        background-color: $backgroundColor;
      }
    }

    .hideMessage {
      display: none;
      animation: mutation 2s ease-in-out;
      animation-delay: 350ms;
      //display: inline-block;
      //background-color: $backgroundColor;
      background-color: yellow;
      position: absolute;
      top: -150px;
      height: 200px;
      z-index: 300;
    }
  }
}

.accordion-items {
  position: relative;
}

.slider-item {
  background-color: $backgroundColor;
}

.animate {
  animation-name: matrix;
  animation-duration: 1.8s;
  animation-timing-function: ease-in-out;
  animation-delay: 1.6s;
}

// // // // // ONE TYPE // // // // //
//
//@keyframes showSecDescM {
//  0% {
//    margin-left: 0;
//    width: $section-1-width;
//  }
//  100% {
//    margin-left: $section-1-width;
//    width: 0;
//  }
//}

@keyframes showSecDescS {
  0% {
    margin-left: 0;
    width: $section-2-width;
  }
  100% {
    margin-left: $section-2-width;
    width: 0;
  }
}

// // // // // SECOND TYPE // // // // //

@keyframes showSecDescMS {
  0% {
    margin-left: 0;
    width: 100%;
  }
  100% {
    margin-left: 100%;
    width: 0;
  }
}

@keyframes showSecDescSS {
  0% {
    margin-left: 0;
    width: 33.33%;
  }
  100% {
    margin-left: 33.33%;
    width: 0;
  }
}

// // // // // MOBILE TYPE // // // // //

@keyframes showSeMob {
  0% {
    margin-left: 0;
    width: 100%;
  }
  100% {
    margin-left: 100%;
    width: 0;
  }
}

// // // // // // // // // //

@keyframes mutation {
  0% {
    width: 0;
  }
  100% {
    width: 100px;
  }
}

@keyframes stand {
  0% {
    top: 0;
    height: 105%;
  }
  15% {
    top: 70%;
    width: 112%;
    height: 35%;
  }
  20% {
    top: 105%;
    height: 0;
    width: 0;
  }
  50% {
    top: 0;
    width: 0;
    height: 105%;
  }
  100% {
    width: 112%;
  }
}

@keyframes move {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  30% {
    -webkit-transform: translate(0, -100%);
    transform: translate(0, -100%);
  }
  100% {
    -webkit-transform: translate(100%, -100%);
    transform: translate(100%, -100%);
  }
}

@keyframes matrix {
  0% {
    -webkit-transform: matrix(1.30, 0, 0, 1.60, 0, 0);
    transform: matrix(1.30, 0, 0, 1.60, 0, 0);
  }
  100% {
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
    transform: matrix(1, 0, 0, 1, 0, 0);
  }
}

// // // // // MEDIA // // // // //

@media (max-width: 992px) {
  .please-wait-false {
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
  }

  .please-wait {
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    .loading-section-2 {
      animation: showSecDescSS 2s ease-in-out;
      animation-delay: 2000ms;
      display: inline-block;
      position: relative;
      width: 33.33%;
      height: 100%;
    }

    .loading-section-3 {
      animation: showSecDescSS 2s ease-in-out;
      animation-delay: 2050ms;
      display: inline-block;
      position: relative;
      width: 33.33%;
      height: 100%;
    }

    .loading-section-4 {
      animation: showSecDescSS 2s ease-in-out;
      animation-delay: 2100ms;
      display: inline-block;
      position: relative;
      width: 33.33%;
      height: 100%;
    }
  }
}

@media (max-width: 767px) {
  .please-wait-false {
    .message-false {
      top: 50%;

      .letter {
        font-size: 65px;
        line-height: 80px;
      }

      .hideMessage {
        height: 350px;
      }
    }
  }
  .please-wait {

    .loading-section-2 {
      animation: showSeMob 1800ms ease-in-out;
      animation-delay: 2000ms;
      display: block;
      position: relative;
      width: 100%;
      height: 80px;
    }

    .loading-section-3 {
      animation: showSeMob 1800ms ease-in-out;
      animation-delay: 2100ms;
      display: block;
      position: relative;
      width: 100%;
      height: calc(100vh / 2 - 40px);
    }

    .loading-section-4 {
      animation: showSeMob 1800ms ease-in-out;
      animation-delay: 2200ms;
      display: block;
      position: relative;
      width: 100%;
      height: calc(100vh / 2 - 40px);
    }

    .message {
      top: 50%;

      .letter {
        font-size: 65px;
        line-height: 80px;
      }

      .hideMessage {
        height: 350px;
      }
    }
  }

}
