.loadBackActive {
  animation: showSecDescS 1.8s ease-in-out;
}

.loadLetterActive {
  animation: move 1.2s ease-in-out;
}

.loadLetterHideActive {
  animation: stand 1.2s ease-in-out;
}

.please-wait {
  position: absolute;
  top: 56px;
  left: calc(56px + 25% - 28px);
  width: calc(100% - 112px - 25% + 28px);
  height: calc(100vh - 112px);
  z-index: 10000;
}
.please-wait .loading-section-1 {
  background-color: #262626;
  animation-delay: 1700ms;
  display: inline-block;
  position: relative;
  width: 33.33%;
  height: 100%;
}
.please-wait .loading-section-2 {
  background-color: #262626;
  animation-delay: 1750ms;
  display: inline-block;
  position: relative;
  width: 33.33%;
  height: 100%;
}
.please-wait .loading-section-3 {
  background-color: #262626;
  animation-delay: 1800ms;
  display: inline-block;
  position: relative;
  width: 33.33%;
  height: 100%;
}
.please-wait .message {
  position: absolute;
  top: 95%;
  transform: translateY(-95%);
  width: 90%;
  left: 5%;
}
.please-wait .message .letter {
  display: inline-block;
  margin-right: 10px;
  animation: move 1.2s ease-in-out;
  color: #fff;
  font-family: "Open Sans ExtraBold", sans-serif;
  z-index: 10;
}
.please-wait .message .letter .upShow {
  position: absolute;
  width: 150%;
  height: 105%;
  top: 0;
  left: 0;
  z-index: 20;
  animation: stand 1.2s ease-in-out;
  background-color: #262626;
}

.accordion-items {
  position: relative;
}

.slider-item {
  background-color: #262626;
}

.animate {
  animation-name: matrix;
  animation-duration: 1.8s;
  animation-timing-function: ease-in-out;
  animation-delay: 1.6s;
}

@keyframes showSecDescS {
  0% {
    margin-left: 0;
    width: 33.33%;
  }
  100% {
    margin-left: 33.33%;
    width: 0;
  }
}
@keyframes showSecDescMS {
  0% {
    margin-left: 0;
    width: 100%;
  }
  100% {
    margin-left: 100%;
    width: 0;
  }
}
@keyframes showSecDescSS {
  0% {
    margin-left: 0;
    width: 33.33%;
  }
  100% {
    margin-left: 33.33%;
    width: 0;
  }
}
@keyframes showSeMob {
  0% {
    margin-left: 0;
    width: 100%;
  }
  100% {
    margin-left: 100%;
    width: 0;
  }
}
@keyframes mutation {
  0% {
    width: 0;
  }
  100% {
    width: 100px;
  }
}
@keyframes stand {
  0% {
    top: 0;
    height: 105%;
  }
  15% {
    top: 70%;
    width: 112%;
    height: 35%;
  }
  20% {
    top: 105%;
    height: 0;
    width: 0;
  }
  50% {
    top: 0;
    width: 0;
    height: 105%;
  }
  100% {
    width: 112%;
  }
}
@keyframes move {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  30% {
    -webkit-transform: translate(0, -100%);
    transform: translate(0, -100%);
  }
  100% {
    -webkit-transform: translate(100%, -100%);
    transform: translate(100%, -100%);
  }
}
@keyframes matrix {
  0% {
    -webkit-transform: matrix(1.3, 0, 0, 1.6, 0, 0);
    transform: matrix(1.3, 0, 0, 1.6, 0, 0);
  }
  100% {
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
    transform: matrix(1, 0, 0, 1, 0, 0);
  }
}
@media (max-width: 992px) {
  .please-wait-false {
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
  }

  .please-wait {
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
  }
  .please-wait .loading-section-1 {
    animation: showSecDescSS 2s ease-in-out;
    animation-delay: 2000ms;
    display: inline-block;
    position: relative;
    width: 33.33%;
    height: 100%;
  }
  .please-wait .loading-section-2 {
    animation: showSecDescSS 2s ease-in-out;
    animation-delay: 2050ms;
    display: inline-block;
    position: relative;
    width: 33.33%;
    height: 100%;
  }
  .please-wait .loading-section-3 {
    animation: showSecDescSS 2s ease-in-out;
    animation-delay: 2100ms;
    display: inline-block;
    position: relative;
    width: 33.33%;
    height: 100%;
  }
}
@media (max-width: 767px) {
  .please-wait .loading-section-1 {
    animation: showSeMob 1800ms ease-in-out;
    animation-delay: 2000ms;
    display: block;
    position: relative;
    width: 100%;
    height: 80px;
  }
  .please-wait .loading-section-2 {
    animation: showSeMob 1800ms ease-in-out;
    animation-delay: 2100ms;
    display: block;
    position: relative;
    width: 100%;
    height: calc(100vh / 2 - 40px);
  }
  .please-wait .loading-section-3 {
    animation: showSeMob 1800ms ease-in-out;
    animation-delay: 2200ms;
    display: block;
    position: relative;
    width: 100%;
    height: calc(100vh / 2 - 40px);
  }
  .please-wait .message .letter {
    font-size: 20px !important;
    line-height: 45px !important;
  }
}

/*# sourceMappingURL=animation.css.map */
