
.in-left {
  left: 60%;
}

.in-right {
  left: 40%;
}

.line {
  height: calc(40vw - 40px);
  position: relative;
  @media (max-width: 992px) {
    height: auto;
  }
}

.right {
  right: 0;
}

.left {
  left: 0;
}
.my-blocks{
  cursor: pointer;
  list-style: none;
}



.middle-block-wrapper {
  .small-block {
    height: 50%;
    width: 50%;
    //border: 1px solid black;
    //background: violet;
    float: left;
  }
  .middle-block {
    height: 100%;
    width: 100%;
    //border: 1px solid black;
    //background: greenyellow;
    float: left;
  }
}


.large-block-wrapper {
  .small-block {
    height: 50%;
    width: 33.33%;
    //border: 1px solid black;
    //background: violet;
    float: left;
  }
  .middle-block {
    height: 100%;
    width: 66.67%;
    //border: 1px solid black;
    //background: greenyellow;
    float: left;
  }
  .large-block {
    height: 100%;
    width: 100%;
    //border: 1px solid black;
    //background: rgb(195, 44, 94);
    float: left;
  }
}

.block-list{
  width: 20vw;
  position: fixed;
  right: 0;
  top: 200px;
}

.bg-size-small {
  width: 20%;
  height: calc(20vw - 20px);
  @media (max-width: 450px) {
    width: 100%;
    height: calc(100vw - 20px);
  }
}

.bg-size-middle {

  position: absolute;
  //border: 1px solid black;

  width: 40%;
  height: calc(40vw - 40px);
  //border: 1px solid black;
  @media (max-width: 450px) {
    width: 100%;
    height: calc(100vw - 20px);
  }
}

.bg-size-large {

  position: absolute;
  //border: 1px solid black;

  width: 60%;
  height: calc(40vw - 40px);
  //border: 1px solid black;
  @media (max-width: 450px) {
    width: 100%;
    height: calc(100vw - 20px);
  }
}

.parent-large-1 {
  @media (max-width: 450px) {
    width: 100%;
    height: auto !important;
  }
  .block-size-middle {
    width: 100%;
    height: calc(40vw - 40px);
    //border: 1px solid black;
    @media (max-width: 450px) {
      width: 100%;
      height: calc(100vw - 20px);
    }
  }

  .block-size-large {
    height: calc(40vw - 40px);
    width: 100%;
    @media (max-width: 450px) {
      width: 100%;
      height: calc(100vw - 20px);
    }
  }
}

.parent-large-3, .parent-large-2{

  height: calc(40vw - 40px);
  @media (max-width: 450px) {
    width: 100%;
    height: auto !important;
  }

  .block-size-small {
    width: 100%;
    height: calc(20vw - 20px);
    //border: 1px solid black;
    @media (max-width: 450px) {
      width: 100%;
      height: calc(100vw - 20px);
    }
  }

  .block-size-middle {
    width: 100%;
    height: calc(40vw - 40px);
    //border: 1px solid black;
    @media (max-width: 450px) {
      width: 100%;
      height: calc(100vw - 20px);
    }
  }
}

.parent-large-6, .parent-large-4, .parent-large-5 {
  @media (max-width: 450px) {
    width: 100%;
    height: auto !important;
  }

  .block-size-small {
    width: 100%;
    height: calc(20vw - 20px);
    //border: 1px solid black;
    @media (max-width: 450px) {
      width: 100%;
      height: calc(100vw - 20px);
    }
  }

  .block-size-middle {
    width: 66.66666%;
    height: calc(40vw - 40px);
    //border: 1px solid black;
    @media (max-width: 450px) {
      width: 100%;
      height: calc(100vw - 20px);
    }
  }

  .block-size-large {
    width: 100%;
    height: calc(40vw - 40px);
    //border: 1px solid black;
    @media (max-width: 450px) {
      width: 100%;
      height: calc(100vw - 20px);
    }
  }
}


.parent-middle {
  @media (max-width: 650px) {
    width: 100%;
    height: auto !important;
  }

  .block-size-small {
    width: 100%;
    height: calc(20vw - 20px);
    //border: 1px solid black;
    @media (max-width: 450px) {
      width: 100%;
      height: calc(100vw - 20px);
    }
  }

  .block-size-middle {
    width: 100%;
    height: calc(40vw - 40px);
    //border: 1px solid black;
    @media (max-width: 450px) {
      width: 100%;
      height: calc(100vw - 20px);
    }
  }

}

.parent-small {
  @media (max-width: 450px) {
    width: 100%;
    height: auto !important;
  }

  .block-size-small {
    width: 100%;
    height: calc(20vw - 20px);
    //border: 1px solid black;
    @media (max-width: 450px) {
      width: 100%;
      height: calc(100vw - 20px);
    }
  }
}
.mobile-custom{
  float: left;
  width: 33.33%;
  @media (max-width: 768px) {
    width: 50%;
  }

  @media (max-width: 500px) {
    width: 100%;
  }
}