<div class="all-blocks custom-container pt-0 pb-0">
    <div class="group-wrapper">
        <div *ngFor="let gr of ggg, let i = index" class="line line-{{i}}">
            <div class="d-none d-md-block
             bg-size-large parent-large-{{gr.largeBlock.blocks.length}}" id="large-{{i}}"
                 [ngClass]="gr.position == 'left'  ? 'left' : 'right'">

                <div class="large-block-wrapper h-100 w-100 ">
                    <div *ngFor="let ell of gr.largeBlock.blocks" class="{{ell.size}}-block">

                        <div *ngIf="ell.block.type == 'Stories'" class="">
                            <div class="block-wrapper mt-0 float-left block-size-{{ell.size}}">
                                <app-blog-block [block]="ell.block" [size]="ell.size"></app-blog-block>
                            </div>
                        </div>
                        <div *ngIf="ell.block.type == 'Portfolio'">
                            <div class="block-wrapper mt-0 float-left block-size-{{ell.size}}">
                                <app-portfolio-block [block]="ell.block" [size]="ell.size"></app-portfolio-block>
                            </div>
                        </div>

                        <div *ngIf="ell.block.type == 'Video'">
                            <div class="block-wrapper mt-0 float-left block-size-{{ell.size}}">
                                <app-video-block [block]="ell.block"></app-video-block>
                            </div>
                        </div>

                        <div *ngIf="ell.block.type == 'Image'">
                            <div class="block-wrapper mt-0 float-left block-size-{{ell.size}}">
                                <app-image-block [block]="ell.block" [size]="ell.size"></app-image-block>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

            <div class="d-none d-md-block
             bg-size-middle parent-middle" id="middle-{{i}}"
                 [ngClass]="gr.position == 'left'  ? 'right' : 'left'">


                <div class="middle-block-wrapper h-100 w-100">
                    <div *ngFor="let ell of gr.middleBlock.blocks" class="{{ell.size}}-block">

                        <div *ngIf="ell.block.type == 'Stories'">
                            <div class="block-wrapper mt-0 float-left block-size-{{ell.size}}">
                                <app-blog-block [block]="ell.block" [size]="ell.size"></app-blog-block>
                            </div>
                        </div>

                        <div *ngIf="ell.block.type == 'Portfolio'">
                            <div class="block-wrapper mt-0 float-left block-size-{{ell.size}}">
                                <app-portfolio-block [block]="ell.block" [size]="ell.size"></app-portfolio-block>
                            </div>
                        </div>

                        <div *ngIf="ell.block.type == 'Video'">
                            <div class="block-wrapper mt-0 float-left block-size-{{ell.size}}">
                                <app-video-block [block]="ell.block"></app-video-block>
                            </div>
                        </div>

                        <div *ngIf="ell.block.type == 'Image'">
                            <div class="block-wrapper mt-0 float-left block-size-{{ell.size}}">
                                <app-image-block [block]="ell.block" [size]="ell.size"></app-image-block>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mobile-wrapper d-block d-md-none">

                <div *ngFor="let ell of gr.largeBlock.blocks">
                    <div *ngIf="ell.block.type == 'Stories'">
                        <app-blog-block [block]="ell.block"></app-blog-block>
                    </div>

                    <div *ngIf="ell.block.type == 'Portfolio'">

                        <app-portfolio-block [block]="ell.block"></app-portfolio-block>

                    </div>

                    <div *ngIf="ell.block.type == 'Video'">
                        <app-video-block [block]="ell.block"></app-video-block>
                    </div>

                    <div *ngIf="ell.block.type == 'Image'">
                        <app-image-block [block]="ell.block"></app-image-block>
                    </div>
                </div>

                <div *ngFor="let ell of gr.middleBlock.blocks">
                    <div *ngIf="ell.block.type == 'Stories'">
                        <app-blog-block [block]="ell.block"></app-blog-block>
                    </div>

                    <div *ngIf="ell.block.type == 'Portfolio'">

                        <app-portfolio-block [block]="ell.block"></app-portfolio-block>

                    </div>

                    <div *ngIf="ell.block.type == 'Video'">
                        <app-video-block [block]="ell.block"></app-video-block>
                    </div>

                    <div *ngIf="ell.block.type == 'Image'">
                        <app-image-block [block]="ell.block"></app-image-block>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
