<div class="introduce-content-wrapper">
    <div class="introduce-content about-inner-content" *ngIf="content"
         [style.padding]="
            (windowSize.width * 97)/1920 + 'px '
         + (windowSize.width * 139)/1920 + 'px '
         + (windowSize.width * 139)/1920 + 'px' ">

        <div class="bg-image">
            <img [src]="'assets/images/AboutUs/chair-octopus@2x.png'">
        </div>

        <div class="heading"
             [style.width]="(windowSize.width * 672 * windowSize.rate) / 1920 + 'px'"
             [style.font-size]="(windowSize.width * content.title.fontSize * windowSize.rate) / 1920 + 'px'"
             [style.line-height]="(windowSize.width * content.title.lineHeight * windowSize.rate) / 1920 + 'px'"
             [style.font-family]="content.title.fontFamily"
        >
            {{ content.title.text }}
        </div>

        <div class="description"
             [style.width]="(windowSize.width * 500 * windowSize.rate) / 1920 + 'px'"
             [style.font-size]="(windowSize.width * content.description.fontSize * windowSize.rate) / 1920 + 'px'"
             [style.line-height]="(windowSize.width * content.description.lineHeight * windowSize.rate) / 1920 + 'px'"
             [style.font-family]="content.description.fontFamily"
        >
            {{ content.description.text }}
        </div>

    </div>
</div>
