$font-regular: 'Open Sans Regular', sans-serif;
$font-extraBold: 'Open Sans Extrabold', sans-serif;

.introduce-content {
  width: 100%;

  background-repeat: no-repeat;
  background-size: contain;
  background-position: right bottom;

  .heading {
    text-align: left;
    //font-size: calc( 100vw * (1920 / 65 ) ); // 65
    //line-height: 80px;
    font-family: $font-extraBold;
    letter-spacing: -2.6px;
    color: #000A1D;
    text-transform: capitalize;
    opacity: 1;
    padding-bottom: 26px;
  }

  .description {
    text-align: left;
    //font-size: 26px;
    //line-height: 45px;
    font-family: $font-regular;
    letter-spacing: -0.52px;
    color: #000A1D;
    opacity: 1;
  }
}


// // // Media // // //

@media (max-width: 768px) {
  .introduce-content {
    margin-top: 100px;
    margin-bottom: 32px;
    padding-top: 225px;
    background-position: top;
  }
  .heading {
    font-size: 30px !important;
    line-height: 35px !important;
    width: 100% !important;
    letter-spacing: -1.2px !important;
  }
  .description {
    font-size: 14px !important;
    line-height: 22px !important;
    width: 100% !important;
    letter-spacing: -0.28px !important;
  }
}
