$font-regular: 'Open Sans Regular', sans-serif;
$font-extraBold: 'Open Sans Extrabold', sans-serif;

.introduce-content {
    width: 100%;
    position: relative;

    .bg-image {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 50%;
        padding-top: 10%;
        z-index: -1;

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }


    .heading {
        text-align: left;
        //font-family: $font-extraBold;
        letter-spacing: -2.6px;
        color: #000A1D;
        text-transform: capitalize;
        opacity: 1;
        padding-bottom: 26px;
    }

    .description {
        text-align: left;
        //font-family: $font-regular;
        letter-spacing: -0.52px;
        color: #000A1D;
        opacity: 1;
    }
}


// // // Media // // //

@media (max-width: 768px) {
    .introduce-content {
        margin-top: 100px;
        margin-bottom: 32px;
        padding-top: 225px!important;
        background-position: top;

        .bg-image {
            top: 0;
            height: 225px;
            width: 100%;
            padding-top: 0;
            z-index: -1;

            img{
                object-fit: contain;
            }
        }

        .heading {
            font-size: 30px !important;
            line-height: 35px !important;
            width: 100% !important;
            letter-spacing: -1.2px !important;
        }
        .description {
            font-size: 14px !important;
            line-height: 22px !important;
            width: 100% !important;
            letter-spacing: -0.28px !important;
        }
    }
}
