<div class="our-element-content-wrapper">
  <div class="our-element-content about-inner-content">

    <div class="heading">
      Things we are good at
    </div>

    <ul class="list active">
      <li class="list-title">01 Strategic Planning</li>
      <li class="list-description">We identify actionable opportunities, then prioritize them by value, effort and
        risk - we intend to start ‘doing’ as quickly as possible. Common activities include product road-mapping,
        conducting user research and planning content and technology. We design brands that pique curiosity, express
        ambition and encourage loyalty. We rely on principles of modern design to ensure the details are carefully
        considered and the design is eloquently executed. We marry creative insight with data to deliver successful
        user experiences. Through a process of iteration and prototyping, we design interfaces that bring joy to people
        while allowing them to get things done. We develop custom software that responds to business needs by making
        engineering a fundamental part of our design process. We write high-quality code that prioritizes reliability,
        scalability and performance. We create user activation programs for on-boarding, one-to-one engagement and
        churn reduction. We measure success and ensure optimal reach by implementing holistic frameworks for monitoring
        analytics, SEO, social and content syndication.</li>
    </ul>

    <ul class="list">
      <li class="list-title">02 Identity System</li>
    </ul>

    <ul class="list">
      <li class="list-title">03 User Experience</li>
    </ul>

    <ul class="list">
      <li class="list-title">04 Web & Mobile Engineering</li>
    </ul>

    <ul class="list">
      <li class="list-title">05 Analytics & Optimization</li>
    </ul>

  </div>
</div>
