$font-regular: 'Open Sans Regular', sans-serif;
$font-semiBold: 'Open Sans SemiBold', sans-serif;
$font-extraBold: 'Open Sans Extrabold', sans-serif;
$font-white-color: #ffffff;

ul li {
  list-style-type: none;
  color: $font-white-color;
  transition: 300ms all ease-in;
}

ul {
  padding: 0;
  border-bottom: 1px solid #ADFF2F;
  margin: 0;
}

ul:first-child {
  border-top: 1px solid #ADFF2F;
  border-bottom: 1px solid #ADFF2F;
}

ul:last-child {
  border-top: none;
  border-bottom: none;
}

ul:hover {
  cursor: pointer;
}

.active {
  //border-top: 1.5px solid lime !important;
  //border-bottom: 1.5px solid lime !important;
  height: auto !important;

  .list-description {
    visibility: visible !important;

    animation-name: slideUp;
    -webkit-animation-name: slideUp;

    animation-duration: 650ms;
    -webkit-animation-duration: 650ms;

    animation-timing-function: ease;
    -webkit-animation-timing-function: ease;
    opacity: 1 !important;
    height: auto !important;
    top: 0 !important;
    padding-bottom: 46px !important;
  }
}

.our-element-content-wrapper {
  width: 100%;
  background-color: #000A1D;

  .our-element-content {
    color: $font-white-color;

    .heading {
      padding-bottom: 91px;
      text-align: left;
      letter-spacing: -2.6px;
      color: $font-white-color;
    }

    .list {
      position: relative;

      .list-title {
        position: relative;
        text-align: left;
        letter-spacing: -0.72px;
        padding: 30px 15px;
      }

      .list-description {
        width: 80%;
        left: 11%;
        position: relative;
        top: -100%;
        opacity: 0;
        visibility: hidden;
        height: 0;
        text-align: left;
        letter-spacing: 0;
        color: $font-white-color;
      }
    }
  }

}

// // // // //  ANIMATION // // // // //

@keyframes slideUp {
  //0% {
  //  transform: translateY(100%);
  //}
  //50% {
  //  transform: translateY(-8%);
  //}
  //65% {
  //  transform: translateY(4%);
  //}
  //80% {
  //  transform: translateY(-4%);
  //}
  //95% {
  //  transform: translateY(2%);
  //}
  //100% {
  //  transform: translateY(0%);
  //}
}


// // // // //  MEDIA // // // // //

@media (max-width: 767px) {
  .heading {
    font-size: 26px !important;
    line-height: 35px !important;
    letter-spacing: -1.04px !important;
    padding-bottom: 20px !important;
  }

  .list {
    padding: 20px 0 !important;

    .list-title {
      font-size: 16px !important;
      line-height: 30px !important;
      letter-spacing: -0.32px !important;
      padding: 0 !important;
    }

    .list-description {
      font-size: 11px !important;
      line-height: 15px !important;
      padding: 0 !important;
    }
  }
}
