<div class="our-element-content-wrapper">
    <div class="our-element-content about-inner-content" *ngIf="content"
         [style.padding]="
            (windowSize.width * 97)/1920 + 'px '
         + (windowSize.width * 139)/1920 + 'px '
         + (windowSize.width * 139)/1920 + 'px' ">

        <div class="heading"
             [style.font-size]="(windowSize.width * 65 * windowSize.rate) / 1920 + 'px'"
             [style.line-height]="(windowSize.width * 80 * windowSize.rate) / 1920 + 'px'"
        >
            {{ content.title }}
        </div>

        <div #list>
            <ul *ngFor="let block of content.blocks, let index = index"
                [ngClass]="index == 0 ? 'list active' : 'list'"
                (click)="openList(list, index)">
                <li class="list-title"
                    [style.font-size]="(windowSize.width * 36 * windowSize.rate) / 1920 + 'px'"
                    [style.line-height]="(windowSize.width * 160 * windowSize.rate) / 1920 + 'px'">{{ block.title }}
                </li>
                <li class="list-description"
                    [style.font-size]="(windowSize.width * 22 * windowSize.rate) / 1920 + 'px'"
                    [style.line-height]="(windowSize.width * 35 * windowSize.rate) / 1920 + 'px'"
                >
                    {{ block.description }}
                </li>
            </ul>
        </div>

    </div>
</div>
