$font-regular: 'Open Sans Regular', sans-serif;
$font-semiBold: 'Open Sans SemiBold', sans-serif;
$font-extraBold: 'Open Sans Extrabold', sans-serif;

ul li {
  list-style-type: none;
  color: #ffffff;
  transition: 1s all ease-in;
}

ul {
  padding: 0;
  border-bottom: 1.5px solid green;
  margin: 0;
}

ul:first-child {
  border-top: 1.5px solid green;
  border-bottom: 1.5px solid green;
}

ul:last-child {
  border-top: none;
  border-bottom: none;
}

ul:hover {
  cursor: pointer;
}

.active {
  border-top: 1.5px solid lime !important;
  border-bottom: 1.5px solid lime !important;
}

.our-element-content-wrapper {
  width: 100%;
  background-color: #000A1D;

  .our-element-content {
    color: #ffffff;

    .heading {
      padding-bottom: 50px;
      text-align: left;
      //font-size: 65px;
      //line-height: 80px;
      font-family: $font-extraBold;
      letter-spacing: -2.6px;
      color: #FFFFFF;
      opacity: 1;
    }

    .list {
      .list-title {
        text-align: left;
        //font-size: 36px;
        //line-height: 30px;
        font-family: $font-extraBold;
        letter-spacing: -0.72px;
        padding: 55px 15px;
      }

      .list-description {
        text-align: left;
        //font-size: 22px;
        //line-height: 35px;
        letter-spacing: 0;
        font-family: $font-semiBold;
        color: #FFFFFF;
        opacity: 1;
        padding: 30px 70px 20px 70px;
      }
    }
  }

}

// // // MEDIA // // //

@media (max-width: 767px) {
  .heading {
    font-size: 26px!important;
    line-height: 35px!important;
    letter-spacing: -1.04px!important;
    padding-bottom: 20px!important;
  }

  .list {
    padding: 20px 0!important;
    .list-title {
      font-size: 16px!important;
      line-height: 30px!important;
      letter-spacing: -0.32px!important;
      padding: 0!important;
    }

    .list-description {
      font-size: 11px!important;
      line-height: 15px!important;
      padding: 0 0 0 30px!important;
    }
  }
}
