<div class="custom-container pt-0 custom-page">
    <div class="about-desc">
        <div class="block">
            <h2 class="about-desc-sub-title">WE’RE A BUNCH OF</h2>
            <h1 class="about-desc-title">
                GOOD CURIOUS
            </h1>
            <p class="about-desc-description">We love to share our experiences in everyday life, we have some
                interesting
                stories to share and podcasts with some good friends with interesting backgrounds and also you will find
                Big
                ideas, food for thought and matters of opinion.</p>
        </div>
        <div class="block">
            <h2 class="about-desc-title">
                PLAN, CREATE AND GROW
            </h2>
            <p class="about-desc-description">We plan, create and grow digital products. We help our clients succeed by
                delivering products that improve life, work and play. We love finding simple solutions to complex
                challenges
                and place a strong emphasis on craft in every detail from design to code.</p>
        </div>
        <div class="block">
            <h2 class="about-desc-sub-title"><a href=""><b>01 PLANING THE RIGHT STRATEGY</b></a></h2>
            <p class="about-desc-description">We design brands that pique curiosity, express ambition and encourage
                loyalty.
                We rely on principles of
                modern design to ensure the details are carefully considered and the design is eloquently executed.</p>
        </div>
    </div>
</div>