<!--<div [formGroup]="textForm">-->
<!--    <div class="row">-->
<!--        <div class="col-6">-->
<!--            <label translate>Title</label>-->
<!--            <input type="text" placeholder="title" class="form-control" formControlName="text">-->
<!--            &lt;!&ndash;        <p [style.font-size]=" form.controls.title.value.fontSize + 'px'"&ndash;&gt;-->
<!--            &lt;!&ndash;           [style.font-family]=" form.controls.title.value.fontFamily"&ndash;&gt;-->
<!--            &lt;!&ndash;        >{{ form.controls.title.value.text }}</p>&ndash;&gt;-->
<!--        </div>-->
<!--        <div class="col-6">-->
<!--            <div class="row offset-2">-->
<!--                <div class="col-5">-->
<!--                    <div class="col-12">-->
<!--                        <label for="titleFontSize">Font Size</label>-->
<!--                    </div>-->
<!--                    <div class="col-12">-->
<!--                        <nz-input-number id="titleFontSize" [nzMin]="fontSizeMin" nzPlaceHolder="Font Size"-->
<!--                                         [nzMax]="fontSizeMax"-->
<!--                                         formControlName="fontSize"-->
<!--                                         [nzStep]="1"></nz-input-number>-->
<!--                    </div>-->
<!--                </div>-->

<!--                <div class="col-5">-->
<!--                    <div class="col-12">-->
<!--                        <label for="titleFontFamily">Font Family</label>-->
<!--                    </div>-->
<!--                    <div class="col-12">-->

<!--                        <nz-select style="width: 120px;" formControlName="fontFamily"-->
<!--                                   nzAllowClear nzPlaceHolder="Font Family" id="titleFontFamily">-->
<!--                            <nz-option nzValue="Open Sans Regular"-->
<!--                                       nzLabel="Regular"></nz-option>-->
<!--                            <nz-option nzValue="Open Sans Semibold"-->
<!--                                       nzLabel="Semibold"></nz-option>-->
<!--                            <nz-option nzValue="Open Sans Bold"-->
<!--                                       nzLabel="Bold"></nz-option>-->
<!--                            <nz-option nzValue="Open Sans Extrabold"-->
<!--                                       nzLabel="Extrabold"></nz-option>-->
<!--                        </nz-select>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

<!--        </div>-->
<!--    </div>-->

<!--</div>-->
