/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.h-20 {
  height: 20%;
}

.h-80 {
  height: 80%;
}

.custom-page {
  height: calc(100vh - 100px);
  overflow: auto;
  @media (max-width: 768px) {
    height: auto;
  }
}

.custom-container {
  padding: 50px;
  @media (max-width: 500px) {
    //padding-left: 10px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
}

.bg-color-red {
  background: red;
}

.bg-color-yellow {
  background: yellow;
}

.bg-color-brown {
  background: brown;
}

.bg-color-green {
  background: green;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


.contact {
  .mat-grid-tile .mat-figure {
    justify-content: unset !important;
  }

  .mat-form-field {
    width: 90%;
  }
}

.menu-animation {
  height: auto !important;
  position: fixed;
  top: 0;
  width: calc((100vw - 116px) / 12 * 3 + 2px);
  z-index: 10000;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.restore {
  height: calc((100vw - 116px) / 12 * 3) !important;
}

.footer-wrapper {
  width: calc((100vw - 116px) / 12 * 3) !important;
  height: calc((100vw - 116px) / 12 * 3) !important;
  @media (max-width: 650px) {
    width: 100% !important;
    height: calc(100vw - 20px) !important;
  }
}

.hidden-footer {
  position: fixed;
  top: 50%;
  z-index: 10000;
  display: none;
}

.top50 {
  top: 50% !important;
}


.twitter-tweet{
  max-width: 100%;
  width: unset !important;
  min-width: 220px;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  height: 100% !important;
  .EmbeddedTweet {
    overflow: hidden;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #e1e8ed;
    border-radius: 5px;
    max-width: unset !important;
  }
}

.EmbeddedTweet,.EmbeddedTweet--mediaForward ,.media-forward {
  max-width: unset !important;
}


//.SandboxRoot:first-child{
//  background: #000;
//  height: 100% !important;
//}
//.EmbeddedTweet{
//  max-width: unset !important;
//}

//==================================================================================
//===============================  scroll styles  ==================================
//==================================================================================

/* width */
@media (min-width: 750px) {

  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}