/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.h-20 {
  height: 20%;
}

.h-80 {
  height: 80%;
}

.custom-page {
  height: calc(100vh - 100px);
  overflow: auto;

  @media (max-width: 767px) {
    height: auto;
  }
}

.custom-container {
  padding: 50px;
  @media (max-width: 992px) {
    padding: 100px 0 0 !important;
  }
  @media (max-width: 500px) {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
}

.rightContentWrapper {
  padding: 0;
}

.bg-color-red {
  background: red;
}

.bg-color-yellow {
  background: yellow;
}

.bg-color-brown {
  background: brown;
}

.bg-color-green {
  background: green;
}

body {
  overflow: hidden;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.top50 {
  top: 50% !important;
}

.a {
  img {
    max-width: 100%;
  }
}

.owl-item, .owl-stage-outer {
  transition: all 1000ms;
}

.animated {
  visibility: visible !important;
}

.hide-on-init {
  visibility: hidden;
}

// // // MEDIA // // //

@media (min-width: 1440px) {
  .about-inner-content {
    padding: 97px 139px 139px;
  }
}

@media (min-width: 1024px) and (max-width: 1440px) {
  .about-inner-content {
    padding: 70px 60px 60px;
  }
}

@media (min-width: 767px) and (max-width: 1024px) {
  .about-inner-content {
    padding: 50px 32px 32px 32px;
  }
}

@media (max-width: 767px) {
  .custom-container {
    padding: 0 !important;
  }
  .about-inner-content {
    padding: 50px 32px 32px 32px;
  }
}

@media (max-width: 767px) {
  .home-page.bg-light {
    padding: 0;
  }
}

//==================================================================================
//===============================  scroll styles  ==================================
//==================================================================================


/* width */
@media (min-width: 750px) {

  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

