/* You can add global styles to this file, and also import other style files */
.ck-editor__editable {
  width: 100%;
  min-height: 300px;
}
.ant-layout-sider-children{
  height: 100vh;
}
/*.color-picker{*/
/*  top: 50px !important;*/
/*  left: -215px !important;*/
/*}*/

.table.ck-widget {
    background-color: red;
}
