<div class="custom-container custom-page">
  <div class="about-desc">
    <h2 class="about-desc-sub-title">WE’RE A BUNCH OF</h2>
    <h1 class="about-desc-title">
      DO GOOD, FEEL GOOD.
    </h1>
    <p class="about-desc-description">We love to share our experiences in everyday life, we have some interesting
      stories to share and pod casts with some good friends with interesting backgrounds and also you will find Big
      ideas, food for thought and matters of opinion.</p>
  </div>
</div>