.replace-blocks {
  position: absolute;
  top: 50%;
  width: 40px;
  height: 30px;
  border: 3px solid black;
  background: #ffffff;
  border-radius: 50%;
  transform: translate(-50%);
  cursor: pointer;
}

.delete-line {
  position: absolute;
  top: 60%;
  width: 40px;
  height: 30px;
  border: 3px solid black;
  background: #ffffff;
  border-radius: 50%;
  transform: translate(-50%);
  cursor: pointer;
}

.edit-button {
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%);
  padding: 15px;
  background: aquamarine;
  width: 100px;
  text-align: center;
  cursor: pointer;;
}
.content p{
  color: #ffffff;
  font-weight: 600;
}
.in-left {
  left: 60%;
}

.in-right {
  left: 40%;
}

.line {
  height: calc((100vw - 250px) * 9 * .33 / 12);
  position: relative;
  margin-bottom: 2px;
}

.large, .middle {
  position: absolute;
  border: 1px solid black;
  //float: left;
  height: calc((100vw - 250px) * 9 * .33 / 12);
}

.large {
  top: 0;
  width: 60%;
}

.middle {
  top: 0;
  width: 40%;
}

.right {
  right: 0;
}

.left {
  left: 0;
}
.my-blocks{
  cursor: pointer;
  list-style: none;
}

.icons {
  line-height: 20px;
}

.icons img {
  width: 12px;
}

.right-arrow {
  margin-left: 10px;
}

.delete-line-icon {
  text-align: center;
  line-height: 20px;
}

.delete-line-icon img {
  width: 20px;
}

.add-line-wrapper {
  //text-align: right;
  .btn-add {
    float: right;
    cursor: pointer;
    padding: 20px;
    width: fit-content;
    background: green;
    border: 2px solid;
    border-radius: 10px;
  }
}

.middle-block-wrapper {
  .small-block {
    height: 50%;
    width: 50%;
    border: 1px solid black;
    background: violet;
    float: left;
  }
  .middle-block {
    height: 100%;
    width: 100%;
    border: 1px solid black;
    background: greenyellow;
    float: left;
  }
}


.large-block-wrapper {
  .small-block {
    height: 50%;
    width: 33.33%;
    border: 1px solid black;
    background: violet;
    float: left;
  }
  .middle-block {
    height: 100%;
    width: 66.6%;
    border: 1px solid black;
    background: greenyellow;
    float: left;
  }
  .large-block {
    height: 100%;
    width: 100%;
    border: 1px solid black;
    background: fuchsia;
    float: left;
  }
}

.block-list{
  width: 20vw;
  position: fixed;
  right: 25px;
  top: 200px;

  table{
    width: 100%;
  }
}