<div class="text-image-block h-100">

    <div class="content h-100 row">
        <div class="text-wrapper h-100 p-0 d-none d-md-block col-md-9">
            <div class="content">
                <div class="sub-title">{{block.content.subTitle | uppercase}}</div>
                <div class="block-title">{{block.content.title | uppercase}}</div>
                <div class="block-description">{{block.content.description}}</div>
            </div>
        </div>
        <div class="image-wrapper h-100 col-8 offset-2 col-md-3 offset-md-0 ">
            <div class="image-wrapper-content">
                <div class="mobile-subtitle d-block d-md-none">{{block.content.subTitle | uppercase}}</div>
                <div class="mobile-title d-block d-md-none">{{block.content.title | uppercase}}</div>
                <img src="../../../../assets/images/{{block.content.img}}" alt="a">
            </div>
        </div>
    </div>

</div>


