<div class="text-image-block h-100">

  <div class="content h-100 row">
    <div class="text-wrapper h-100 p-0 col-9">
      <div class="content">
        <div class="sub-title">{{block.content.subTitle | uppercase}}</div>
        <div class="block-title">{{block.content.title | uppercase}}</div>
        <div class="block-description">{{block.content.description}}</div>
      </div>
    </div>
    <div class="image-wrapper h-100 col-3">
      <img src="../../../../assets/images/{{block.content.img}}" alt="a">
    </div>
  </div>

</div>


