<div class="d-none d-lg-block" style="width: 100%; height: 100%; overflow: hidden; position: relative">
    <div class="twitt-logo-wrapper">
        <img class="twitter-logo" src="assets/images/twitter-logo.png" alt="">
    </div>
    <ngx-tweet tweetId="{{block.twitter}}"></ngx-tweet>
</div>

<div class="mobile-wrapper d-block d-lg-none" #twitter style="position: relative">
    <div class="twitt-logo-wrapper">
        <img class="twitter-logo" src="assets/images/twitter-logo.png" alt="">
    </div>
    <ngx-tweet tweetId="{{block.twitter}}"></ngx-tweet>
</div>