$font-regular: 'Open Sans Regular', sans-serif;
$font-bold: 'Open Sans Bold', sans-serif;

.about-scroll {
  transition: 1200ms all;
}

.section {
  opacity: 0;
  transition: all 800ms ease-in 100ms;
  -o-transition: all 800ms ease-in 100ms;
  //-ms-transition: all 800ms ease-in 100ms;
  -moz-transition: all 800ms ease-in 100ms;
  -webkit-transition: all 800ms ease-in 100ms;
}

.section:first-child {
  opacity: 1;
}

//.custom-container {
//  padding: 50px 0 50px 50px !important;
//}

//.img-wrapper {
//  height: 250px;
//
//  img {
//    width: 100%;
//    height: 100%;
//    object-fit: cover;
//  }
//}

.about-page {
  padding-left: 0;
}

.link-box {
  display: flex;
  align-items: center;
  width: 100%;
  height: 180px;
  background-color: #000A1D;
  color: #FFFFFF;

  .link-box-text {
    width: 100%;
    padding: 0 69px;

    .question {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      font-family: $font-bold;
      letter-spacing: -0.6px;
    }

    .link {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      text-decoration: underline;
      font-family: $font-regular;
      letter-spacing: -0.44px;
      color: #FFFFFF;
    }
  }
}

//==================================================================================
//===============================  scroll styles  ==================================
//==================================================================================

::-webkit-scrollbar {
  width: 0;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

// // // // // MEDIA // // // // //

@media (min-width: 992px) {
  * {
    overflow: hidden;
  }
}

@media (max-width: 992px) {
  .about-page {
    padding-left: 0;
  }
  .spinner-border {
    margin-top: 100px;
  }
}

@media (max-width: 992px) {
  .custom-page {
    height: auto;
  }
  .section {
    //transition: 1.2s all;
    transition: all 700ms ease-in 150ms !important;
    -o-transition: all 700ms ease-in 150ms !important;
    //-ms-transition: all 700ms ease-in 150ms !important;
    -moz-transition: all 700ms ease-in 150ms !important;
    -webkit-transition: all 700ms ease-in 150ms !important;
  }
}

@media (max-width: 767px) {
  .about-page {
    .link-box-text {
      padding: 37px 32px !important;
    }
    .question {
      width: 219px;
      font-size: 20px !important;
      line-height: 25px !important;
    }
    .link {
      width: 100% !important;
      text-align: left !important;
      font-size: 14px !important;
      line-height: 35px !important;
      padding-top: 22px !important;
      justify-content: flex-start !important;
    }
  }
}
