.img-wrapper{
  //width: 95%;
  height: 250px;
 img{
   width: 100%;
   height: 100%;
   object-fit: cover;
 }
}
.block-title{
  margin: 25px 0;
  font-family: Open Sans;
  font-size: 22px;
  font-weight: 600;
  line-height: 1.45;
  letter-spacing: -0.4px;
}


//==================================================================================
//===============================  scroll styles  ==================================
//==================================================================================

/* width */
::-webkit-scrollbar {
  width: 0;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}