
<div *ngIf="done" class="rightContentWrapper">
    <div class="about-page custom-page pr-0 col-12 col-lg-9 offset-lg-3">

        <app-introduce></app-introduce>

        <app-our-element></app-our-element>

        <app-our-clients></app-our-clients>

        <app-remark></app-remark>

        <app-leadership></app-leadership>

        <app-our-awards></app-our-awards>

        <div class="link-box">
            <div class="link-box-text row">

                <div class="question col-12 col-md-6"
                     [style.font-size]="(windowSize.width * 30 * windowSize.rate) / 1920 + 'px'"
                     [style.line-height]="(windowSize.width * 40 * windowSize.rate) / 1920 + 'px'">
                    Think we’re a good fit? Let’s get to work!
                </div>

                <div class="link col-12 col-md-6"
                     [style.font-size]="(windowSize.width * 22 * windowSize.rate) / 1920 + 'px'"
                     [style.line-height]="(windowSize.width * 35 * windowSize.rate) / 1920 + 'px'">
                    Click Here and let’s talk
                </div>

            </div>
        </div>

    </div>
</div>



<!--<div class="rightContentWrapper">-->
<!--    <div *ngIf="done" class="custom-container custom-page col-md-9 offset-md-3 col-12 col-sm-12">-->

<!--        <div [innerHTML]="page.content" class="a"></div>-->

<!--    </div>-->

<!--</div>-->

<!--<div class="pt-5">-->
<!--    <app-all-blocks></app-all-blocks>-->
<!--</div>-->


<!--/////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
<!--////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
<!--//////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
<!--<div class="custom-container custom-page">-->
<!--&lt;!&ndash;<h1 style="text-align: center;padding: 50px">&ndash;&gt;-->
<!--&lt;!&ndash;About Us&ndash;&gt;-->
<!--&lt;!&ndash;</h1>&ndash;&gt;-->

<!--<div class="row">-->

<!--<div class="col-3">-->
<!--<div class="img-wrapper img">-->
<!--<img src="../../../../assets/images/banner.PNG" alt="image">-->
<!--</div>-->
<!--<div class="block-title">Electric imp</div>-->
<!--</div>-->
<!--<div class="col-3">-->
<!--<div class="img-wrapper img">-->
<!--<img src="../../../../assets/images/banner.PNG" alt="image">-->
<!--</div>-->
<!--<div class="block-title">Tanaka</div>-->
<!--</div>-->
<!--<div class="col-3">-->
<!--<div class="img-wrapper img">-->
<!--<img src="../../../../assets/images/banner.PNG" alt="image">-->
<!--</div>-->
<!--<div class="block-title">Some title</div>-->
<!--</div>-->
<!--<div class="col-3">-->
<!--<div class="img-wrapper img">-->
<!--<img src="../../../../assets/images/banner.PNG" alt="image">-->
<!--</div>-->
<!--<div class="block-title">Electric imp</div>-->
<!--</div>-->
<!--<div class="col-3">-->
<!--<div class="img-wrapper img">-->
<!--<img src="../../../../assets/images/banner.PNG" alt="image">-->
<!--</div>-->
<!--<div class="block-title">Other title</div>-->
<!--</div>-->
<!--<div class="col-3">-->
<!--<div class="img-wrapper img">-->
<!--<img src="../../../../assets/images/banner.PNG" alt="image">-->
<!--</div>-->
<!--<div class="block-title">Tanaka</div>-->
<!--</div>-->
<!--<div class="col-3">-->
<!--<div class="img-wrapper img">-->
<!--<img src="../../../../assets/images/banner.PNG" alt="image">-->
<!--</div>-->
<!--<div class="block-title">Electric imp</div>-->
<!--</div>-->
<!--<div class="col-3">-->
<!--<div class="img-wrapper img">-->
<!--<img src="../../../../assets/images/banner.PNG" alt="image">-->
<!--</div>-->
<!--<div class="block-title">Something else</div>-->
<!--</div>-->
<!--<div class="col-3">-->
<!--<div class="img-wrapper img">-->
<!--<img src="../../../../assets/images/banner.PNG" alt="image">-->
<!--</div>-->
<!--<div class="block-title">Electric imp</div>-->
<!--</div>-->
<!--<div class="col-3">-->
<!--<div class="img-wrapper img">-->
<!--<img src="../../../../assets/images/banner.PNG" alt="image">-->
<!--</div>-->
<!--<div class="block-title">Tanaka</div>-->
<!--</div>-->
<!--<div class="col-3">-->
<!--<div class="img-wrapper img">-->
<!--<img src="../../../../assets/images/banner.PNG" alt="image">-->
<!--</div>-->
<!--<div class="block-title">Some title</div>-->
<!--</div>-->
<!--<div class="col-3">-->
<!--<div class="img-wrapper img">-->
<!--<img src="../../../../assets/images/banner.PNG" alt="image">-->
<!--</div>-->
<!--<div class="block-title">Electric imp</div>-->
<!--</div>-->
<!--<div class="col-3">-->
<!--<div class="img-wrapper img">-->
<!--<img src="../../../../assets/images/banner.PNG" alt="image">-->
<!--</div>-->
<!--<div class="block-title">Other title</div>-->
<!--</div>-->
<!--<div class="col-3">-->
<!--<div class="img-wrapper img">-->
<!--<img src="../../../../assets/images/banner.PNG" alt="image">-->
<!--</div>-->
<!--<div class="block-title">Tanaka</div>-->
<!--</div>-->
<!--<div class="col-3">-->
<!--<div class="img-wrapper img">-->
<!--<img src="../../../../assets/images/banner.PNG" alt="image">-->
<!--</div>-->
<!--<div class="block-title">Electric imp</div>-->
<!--</div>-->
<!--<div class="col-3">-->
<!--<div class="img-wrapper img">-->
<!--<img src="../../../../assets/images/banner.PNG" alt="image">-->
<!--</div>-->
<!--<div class="block-title">Something else</div>-->
<!--</div>-->

<!--</div>-->
<!--</div>-->
