<div class="custom-container custom-page">
  <h1 style="text-align: center;padding: 50px">
    About us
  </h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat nostrum obcaecati rerum soluta unde? Consectetur
    dignissimos dolore ducimus eum, excepturi explicabo in iste nostrum obcaecati omnis quod reiciendis sequi suscipit,
    totam vel. Mollitia odit, saepe! A ad, atque beatae consectetur debitis est illum ipsam molestiae non officia quas
    quia quidem repellat! Adipisci aliquid delectus dicta, doloremque dolorum excepturi explicabo impedit quia totam
    vel.
    A aliquid animi asperiores autem commodi corporis delectus deserunt dicta doloribus eum explicabo impedit in iste
    iure
    molestias nobis obcaecati officia officiis quasi quibusdam quis, quisquam quo quod, sed tempore temporibus unde
    voluptas? Ab adipisci aspernatur consectetur, culpa dolor ducimus, explicabo facilis incidunt maxime odit vitae
    voluptate? Accusantium adipisci alias aliquid architecto atque consectetur consequatur culpa dicta dignissimos eaque
    enim est eum id illo illum in inventore nesciunt nihil odit perspiciatis placeat praesentium quidem quisquam quos
    reiciendis, saepe, sapiente similique suscipit tempora temporibus vero voluptate voluptatibus voluptatum. Autem
    dolor
    enim eos fugit nesciunt nisi officia possimus quibusdam ullam. Aliquid aperiam consequatur consequuntur dignissimos
    dolore eaque eligendi ex explicabo fuga harum id, ipsa ipsam itaque maiores modi nam natus nulla numquam obcaecati
    odit omnis optio, placeat praesentium quas recusandae repudiandae saepe sed tenetur veniam voluptates. A commodi et
    eveniet, facilis illo laboriosam libero maxime modi nemo perferendis possimus quaerat reprehenderit, sunt veniam
    voluptas? Amet animi aperiam aspernatur assumenda atque aut consequuntur cumque cupiditate deleniti, dolore ducimus
    eius eligendi error esse et facilis id, impedit ipsum laboriosam libero minus nemo odio quaerat quas quasi quis
    quisquam quod repellendus repudiandae similique sunt veritatis voluptatem voluptatibus! A aspernatur consequuntur
    eligendi ipsum magnam officiis porro rerum voluptatibus. Accusamus assumenda dolor doloremque possimus repellat sed
    ut. Ab ad cupiditate eligendi eveniet magnam quaerat quam quasi recusandae repellendus similique. Magnam modi
    molestias placeat! Adipisci architecto commodi fugiat inventore iste labore maiores nulla obcaecati porro similique.
    A
    at cum, cupiditate error perferendis quisquam temporibus. Ab accusamus ad consequatur dignissimos, doloribus ea
    earum
    explicabo facilis illo ipsam ipsum libero molestias quaerat recusandae repellendus sapiente sequi sunt temporibus
    totam vel vero voluptate voluptates! Ab animi autem cum cupiditate, delectus doloribus excepturi facere, facilis
    illum
    incidunt libero molestias nesciunt saepe sit tempora voluptate, voluptatibus. Aliquam amet consequuntur deleniti
    doloremque molestiae molestias placeat quam tenetur! Dicta dolore eaque exercitationem, libero numquam pariatur
    vero?
    Aspernatur commodi consequuntur cum delectus deserunt dignissimos distinctio ea eius eligendi eos explicabo illum
    ipsam itaque labore laudantium magni minima mollitia natus nemo nesciunt nisi nobis nostrum nulla officiis
    perspiciatis provident quasi quia quisquam quod recusandae reiciendis repellendus, sint unde. A ab assumenda autem
    dignissimos dolor, doloribus est incidunt maiores minus quasi reiciendis reprehenderit saepe veniam, voluptatem
    voluptates! A aliquid amet atque, eos mollitia nemo possimus quidem quisquam ratione repellat? Corporis excepturi
    facere iste omnis quae quam quia repellendus unde. Aliquid architecto aspernatur dicta doloremque dolores dolorum
    est
    eveniet, expedita fuga illo illum minima nam quas quis quisquam repudiandae, suscipit tenetur. A ab asperiores ipsa,
    modi numquam quaerat qui repudiandae sed sint vel! Consequuntur iusto magni minus officia, sequi vitae. At atque
    blanditiis eius esse excepturi facere minus quibusdam ut. Accusantium aut corporis, dolor earum hic nemo placeat,
    quae
    quas repellat sunt, tenetur vel vero voluptate! Atque commodi dicta eaque ex maxime mollitia provident quibusdam
    reiciendis suscipit voluptatum. A ad alias aspernatur, dicta, dolor earum excepturi exercitationem ipsa, ipsam magni
    numquam quasi qui vitae. Consequuntur cumque esse id in magni quo ratione. Aliquid cupiditate debitis dignissimos
    error expedita laboriosam natus, odio pariatur quae quas quos, voluptatem? Adipisci alias aperiam consequatur
    debitis
    earum, enim et, ex expedita facere nulla numquam quisquam quo ratione rem tempora! Modi mollitia possimus quisquam.
    Eaque exercitationem maxime porro quia reprehenderit. Error inventore minima placeat praesentium totam. Aliquam aut
    deserunt doloremque, harum in, magni maxime minima quos sapiente, sed sunt totam. Delectus eaque, veniam? Culpa
    earum
    fuga illo itaque maxime natus quisquam! Ad dolores, doloribus fugiat id nemo nihil porro, quia, quod rem tenetur
    totam
    voluptatem voluptatibus. Debitis excepturi facere optio? Exercitationem fugiat repudiandae velit voluptatibus!
    Accusantium alias aspernatur at autem beatae consequuntur cumque cupiditate dicta et eveniet ex facilis harum,
    magnam,
    necessitatibus neque non odit porro quae quaerat qui quia reprehenderit repudiandae sequi sint tenetur totam veniam
    voluptatibus. Asperiores at dolorem eaque eius fugit illo illum labore laudantium nisi numquam perspiciatis quas,
    quidem tempora. A, aliquam aspernatur at culpa cum doloremque earum enim excepturi fugit harum in ipsam magnam
    molestiae necessitatibus non numquam obcaecati odit omnis pariatur perspiciatis porro quae quisquam quod quos
    repellat
    sed, similique sit totam veritatis vero? Aperiam asperiores at blanditiis cum dicta doloribus exercitationem
    explicabo
    fugiat ipsum, optio quia repellendus sint velit, vero, voluptas. Cumque cupiditate expedita facilis ipsam ipsum
    laborum maiores nesciunt obcaecati odit quaerat rem, rerum unde vero vitae voluptates. Blanditiis dolorem earum eius
    eveniet excepturi expedita, harum laudantium, nostrum omnis perferendis praesentium quibusdam suscipit vitae.
    Aliquam
    commodi debitis eius, error fugiat inventore ipsam minima minus, nobis quam quia quidem quisquam reprehenderit totam
    voluptate! Consequatur doloremque, ipsa minima mollitia nostrum voluptas! Esse ipsum itaque natus non optio
    perferendis tempora. Accusantium amet animi aperiam architecto asperiores assumenda beatae commodi consequatur,
    consequuntur, doloribus et excepturi fugiat illum iste laboriosam magnam neque officia optio, provident quam quasi
    quis quos reiciendis tempore totam velit veniam voluptas. Accusamus aut, eaque eius eum exercitationem, explicabo
    fugiat iure laborum, nihil optio possimus quidem sint tempore tenetur vel vitae voluptatum? Atque dicta dolorem ea,
    exercitationem iste magnam nulla obcaecati possimus ratione sunt. Ab aut consectetur consequuntur culpa hic magni
    officiis, optio reiciendis! At beatae exercitationem harum nostrum quisquam? Ab aliquid eligendi nisi placeat quas
    quibusdam sapiente soluta voluptates! A alias deleniti dolorem eius esse, ex fugit illum ipsa labore minima nihil
    nobis numquam quam quis sunt ullam veniam! A adipisci eius, mollitia nihil nisi perferendis sint velit. Accusantium
    aliquam at blanditiis corporis dicta doloremque ea facere ipsam itaque labore laudantium magnam mollitia nulla
    pariatur praesentium quod quos repellat, repellendus saepe vero voluptas voluptatibus voluptatum. Ad consequuntur
    maxime quidem reprehenderit veritatis voluptas voluptatem? Adipisci amet, architecto dolorem explicabo impedit
    itaque,
    iure maiores minima minus modi molestias natus nesciunt nobis non placeat porro quisquam repellendus vitae.</p>

</div>

























<!--<div class="custom-container custom-page">-->
<!--&lt;!&ndash;<h1 style="text-align: center;padding: 50px">&ndash;&gt;-->
    <!--&lt;!&ndash;About Us&ndash;&gt;-->
  <!--&lt;!&ndash;</h1>&ndash;&gt;-->

  <!--<div class="row">-->

    <!--<div class="col-3">-->
    <!--<div class="img-wrapper img">-->
      <!--<img src="../../../../assets/images/banner.PNG" alt="image">-->
    <!--</div>-->
    <!--<div class="block-title">Electric imp</div>-->
  <!--</div>-->
    <!--<div class="col-3">-->
      <!--<div class="img-wrapper img">-->
        <!--<img src="../../../../assets/images/banner.PNG" alt="image">-->
      <!--</div>-->
      <!--<div class="block-title">Tanaka</div>-->
    <!--</div>-->
    <!--<div class="col-3">-->
      <!--<div class="img-wrapper img">-->
        <!--<img src="../../../../assets/images/banner.PNG" alt="image">-->
      <!--</div>-->
      <!--<div class="block-title">Some title</div>-->
    <!--</div>-->
    <!--<div class="col-3">-->
      <!--<div class="img-wrapper img">-->
        <!--<img src="../../../../assets/images/banner.PNG" alt="image">-->
      <!--</div>-->
      <!--<div class="block-title">Electric imp</div>-->
    <!--</div>-->
    <!--<div class="col-3">-->
      <!--<div class="img-wrapper img">-->
        <!--<img src="../../../../assets/images/banner.PNG" alt="image">-->
      <!--</div>-->
      <!--<div class="block-title">Other title</div>-->
    <!--</div>-->
    <!--<div class="col-3">-->
      <!--<div class="img-wrapper img">-->
        <!--<img src="../../../../assets/images/banner.PNG" alt="image">-->
      <!--</div>-->
      <!--<div class="block-title">Tanaka</div>-->
    <!--</div>-->
    <!--<div class="col-3">-->
      <!--<div class="img-wrapper img">-->
        <!--<img src="../../../../assets/images/banner.PNG" alt="image">-->
      <!--</div>-->
      <!--<div class="block-title">Electric imp</div>-->
    <!--</div>-->
    <!--<div class="col-3">-->
      <!--<div class="img-wrapper img">-->
        <!--<img src="../../../../assets/images/banner.PNG" alt="image">-->
      <!--</div>-->
      <!--<div class="block-title">Something else</div>-->
    <!--</div>-->
    <!--<div class="col-3">-->
      <!--<div class="img-wrapper img">-->
        <!--<img src="../../../../assets/images/banner.PNG" alt="image">-->
      <!--</div>-->
      <!--<div class="block-title">Electric imp</div>-->
    <!--</div>-->
    <!--<div class="col-3">-->
      <!--<div class="img-wrapper img">-->
        <!--<img src="../../../../assets/images/banner.PNG" alt="image">-->
      <!--</div>-->
      <!--<div class="block-title">Tanaka</div>-->
    <!--</div>-->
    <!--<div class="col-3">-->
      <!--<div class="img-wrapper img">-->
        <!--<img src="../../../../assets/images/banner.PNG" alt="image">-->
      <!--</div>-->
      <!--<div class="block-title">Some title</div>-->
    <!--</div>-->
    <!--<div class="col-3">-->
      <!--<div class="img-wrapper img">-->
        <!--<img src="../../../../assets/images/banner.PNG" alt="image">-->
      <!--</div>-->
      <!--<div class="block-title">Electric imp</div>-->
    <!--</div>-->
    <!--<div class="col-3">-->
      <!--<div class="img-wrapper img">-->
        <!--<img src="../../../../assets/images/banner.PNG" alt="image">-->
      <!--</div>-->
      <!--<div class="block-title">Other title</div>-->
    <!--</div>-->
    <!--<div class="col-3">-->
      <!--<div class="img-wrapper img">-->
        <!--<img src="../../../../assets/images/banner.PNG" alt="image">-->
      <!--</div>-->
      <!--<div class="block-title">Tanaka</div>-->
    <!--</div>-->
    <!--<div class="col-3">-->
      <!--<div class="img-wrapper img">-->
        <!--<img src="../../../../assets/images/banner.PNG" alt="image">-->
      <!--</div>-->
      <!--<div class="block-title">Electric imp</div>-->
    <!--</div>-->
    <!--<div class="col-3">-->
      <!--<div class="img-wrapper img">-->
        <!--<img src="../../../../assets/images/banner.PNG" alt="image">-->
      <!--</div>-->
      <!--<div class="block-title">Something else</div>-->
    <!--</div>-->

  <!--</div>-->
<!--</div>-->
