<div class="rightContentWrapper">
<div *ngIf="done" class="custom-container custom-page col-md-9 offset-md-3 col-12 col-sm-12">

    <div  [innerHTML]="page.content" class="a"></div>

</div>

</div>
<div class="pt-5">
  <app-all-blocks></app-all-blocks>
</div>






















<!--<div class="custom-container custom-page">-->
<!--&lt;!&ndash;<h1 style="text-align: center;padding: 50px">&ndash;&gt;-->
    <!--&lt;!&ndash;About Us&ndash;&gt;-->
  <!--&lt;!&ndash;</h1>&ndash;&gt;-->

  <!--<div class="row">-->

    <!--<div class="col-3">-->
    <!--<div class="img-wrapper img">-->
      <!--<img src="../../../../assets/images/banner.PNG" alt="image">-->
    <!--</div>-->
    <!--<div class="block-title">Electric imp</div>-->
  <!--</div>-->
    <!--<div class="col-3">-->
      <!--<div class="img-wrapper img">-->
        <!--<img src="../../../../assets/images/banner.PNG" alt="image">-->
      <!--</div>-->
      <!--<div class="block-title">Tanaka</div>-->
    <!--</div>-->
    <!--<div class="col-3">-->
      <!--<div class="img-wrapper img">-->
        <!--<img src="../../../../assets/images/banner.PNG" alt="image">-->
      <!--</div>-->
      <!--<div class="block-title">Some title</div>-->
    <!--</div>-->
    <!--<div class="col-3">-->
      <!--<div class="img-wrapper img">-->
        <!--<img src="../../../../assets/images/banner.PNG" alt="image">-->
      <!--</div>-->
      <!--<div class="block-title">Electric imp</div>-->
    <!--</div>-->
    <!--<div class="col-3">-->
      <!--<div class="img-wrapper img">-->
        <!--<img src="../../../../assets/images/banner.PNG" alt="image">-->
      <!--</div>-->
      <!--<div class="block-title">Other title</div>-->
    <!--</div>-->
    <!--<div class="col-3">-->
      <!--<div class="img-wrapper img">-->
        <!--<img src="../../../../assets/images/banner.PNG" alt="image">-->
      <!--</div>-->
      <!--<div class="block-title">Tanaka</div>-->
    <!--</div>-->
    <!--<div class="col-3">-->
      <!--<div class="img-wrapper img">-->
        <!--<img src="../../../../assets/images/banner.PNG" alt="image">-->
      <!--</div>-->
      <!--<div class="block-title">Electric imp</div>-->
    <!--</div>-->
    <!--<div class="col-3">-->
      <!--<div class="img-wrapper img">-->
        <!--<img src="../../../../assets/images/banner.PNG" alt="image">-->
      <!--</div>-->
      <!--<div class="block-title">Something else</div>-->
    <!--</div>-->
    <!--<div class="col-3">-->
      <!--<div class="img-wrapper img">-->
        <!--<img src="../../../../assets/images/banner.PNG" alt="image">-->
      <!--</div>-->
      <!--<div class="block-title">Electric imp</div>-->
    <!--</div>-->
    <!--<div class="col-3">-->
      <!--<div class="img-wrapper img">-->
        <!--<img src="../../../../assets/images/banner.PNG" alt="image">-->
      <!--</div>-->
      <!--<div class="block-title">Tanaka</div>-->
    <!--</div>-->
    <!--<div class="col-3">-->
      <!--<div class="img-wrapper img">-->
        <!--<img src="../../../../assets/images/banner.PNG" alt="image">-->
      <!--</div>-->
      <!--<div class="block-title">Some title</div>-->
    <!--</div>-->
    <!--<div class="col-3">-->
      <!--<div class="img-wrapper img">-->
        <!--<img src="../../../../assets/images/banner.PNG" alt="image">-->
      <!--</div>-->
      <!--<div class="block-title">Electric imp</div>-->
    <!--</div>-->
    <!--<div class="col-3">-->
      <!--<div class="img-wrapper img">-->
        <!--<img src="../../../../assets/images/banner.PNG" alt="image">-->
      <!--</div>-->
      <!--<div class="block-title">Other title</div>-->
    <!--</div>-->
    <!--<div class="col-3">-->
      <!--<div class="img-wrapper img">-->
        <!--<img src="../../../../assets/images/banner.PNG" alt="image">-->
      <!--</div>-->
      <!--<div class="block-title">Tanaka</div>-->
    <!--</div>-->
    <!--<div class="col-3">-->
      <!--<div class="img-wrapper img">-->
        <!--<img src="../../../../assets/images/banner.PNG" alt="image">-->
      <!--</div>-->
      <!--<div class="block-title">Electric imp</div>-->
    <!--</div>-->
    <!--<div class="col-3">-->
      <!--<div class="img-wrapper img">-->
        <!--<img src="../../../../assets/images/banner.PNG" alt="image">-->
      <!--</div>-->
      <!--<div class="block-title">Something else</div>-->
    <!--</div>-->

  <!--</div>-->
<!--</div>-->
