
.portfolio-wrapper-small {
  cursor: pointer;
  position: relative;
  img {
  object-fit: cover;
  }
  .content-wrapper{
    padding: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #ffffff;

    h4{
      font-size: 3.2rem;
      @media (max-width: 1400px) {
        font-size: 2.2rem;
      }
      @media (max-width: 1000px) {
        font-size: 1.8rem;
      }
    }
  }
}

.portfolio-wrapper-middle{
  cursor: pointer;
  position: relative;
  img {
    object-fit: cover;
  }
  .content-wrapper{
    padding: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #ffffff;

    h4{
      font-size: 3.6rem;
      @media (max-width: 1000px) {
        font-size: 2rem;
      }
    }
  }
}

.portfolio-wrapper-large{
  //cursor: pointer;
  position: relative;
  //background: violet;

  .vertical-center{
    padding: 50px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  img{
    width: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  .content-wrapper{
    color: #ffffff;
    h4{
      font-size: 3.7vw;
      font-weight: 700;
      margin-bottom: 20px;
      @media (max-width: 1400px) {
        font-size: 2.2rem;
      }
      @media (max-width: 1000px) {
        font-size: 1.8rem;
      }
    }
  }
}
.portfolio-wrapper-mobile{
  position: relative;
  padding: 0 ;
  width: 100%;
  height: calc(33vw - 25px);
  @media (max-width: 768px) {
    height: calc(50vw - 25px);
  }
  @media (max-width: 500px) {
    padding: 0 ;
    height: calc(100vw);
  }
  img {
    object-fit: cover;
  }
  .content-wrapper{
    padding: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #ffffff;

    h4{
      font-size: 3.2rem;
    }
  }
}