<div class="d-none d-lg-block portfolio-wrapper-small w-100 h-100" *ngIf="done && size === 'small'"
     [routerLink]="['/work', portfolio._id]">

    <div class="image-wrapper w-100 h-100">
        <img class="h-100 w-100" [src]="imageUrl + portfolio.imgs[0]" alt="">
    </div>
    <div class="content-wrapper">
        <h4>{{portfolio.title}}</h4>
    </div>
    <!--    <a [href]="portfolio.link">{{portfolio.link}}</a>-->
</div>

<div class="d-none d-lg-block portfolio-wrapper-middle h-100 w-100" *ngIf="done && size === 'middle'">
    <div class="image-wrapper w-100 h-100" [routerLink]="['/work', portfolio._id]">
        <img class="h-100 w-100" [src]="imageUrl + portfolio.imgs[0]" alt="">
    </div>

    <div class="content-wrapper">
        <h4>{{portfolio.title}}</h4>
        <p>{{portfolio.description}}</p>
        <a  class="d-none d-lg-block" target="_blank" [href]="portfolio.link">{{portfolio.link}}</a>
    </div>
</div>

<div class="d-none d-lg-block portfolio-wrapper-large h-100" *ngIf="done && size === 'large'">

    <div class="row vertical-center">
        <div class="content-wrapper col-8 col-xl-6">
            <h4>{{portfolio.title}}</h4>
            <p>{{portfolio.description}}</p>
            <a class="d-none d-lg-block" target="_blank" [href]="portfolio.link">{{portfolio.link}}</a>
        </div>

        <div class="image-wrapper col-4 offset-xl-2" [routerLink]="['/work', portfolio._id]">
            <img class="" [src]="imageUrl + portfolio.imgs[0]" alt="">
        </div>
    </div>

</div>

<!--============================ mobile ==================================-->

<div class="d-block d-lg-none portfolio-wrapper-mobile" *ngIf="done" [ngStyle]="{'background-color': block.bgColor}"
     [routerLink]="['/work', portfolio._id]">

    <div class="image-wrapper w-100 h-100">
        <img class="h-100 w-100" [src]="imageUrl + portfolio.imgs[0]" alt="">
    </div>
    <div class="content-wrapper">
        <h4>{{portfolio.title}}</h4>
    </div>
    <!--    <a [href]="portfolio.link">{{portfolio.link}}</a>-->
</div>