<div class="clients-content-wrapper">
    <div class="clients-content about-inner-content">

        <div class="heading"
             [style.font-size]="(windowSize.width * 65) / 1920 + 'px'"
             [style.line-height]="(windowSize.width * 80) / 1920 + 'px'"
        >
            Clients
        </div>

        <div class="description"
             [style.font-size]="(windowSize.width * 26) / 1920 + 'px'"
             [style.line-height]="(windowSize.width * 45) / 1920 + 'px'"
        >
            We join forces with our clients and work as one. We immerse ourselves in their culture, community, needs
            and ambition. Together we establish goals and collaborate in an iterative process of design, development
            and ongoing optimization.
        </div>

        <div class="partners">
            <div class="row m-0">
                <div class="col-4 col-md-3 partner partner-img"></div>
                <div class="col-4 col-md-3 partner partner-img"></div>
                <div class="col-4 col-md-3 partner partner-img"></div>
                <div class="col-4 col-md-3 partner partner-img"></div>
                <div class="col-4 col-md-3 partner partner-text">
                    North American Lighting is a member of the Japan-based Koito Group of companies
                </div>
                <div class="col-4 col-md-3 partner partner-img"></div>
                <div class="col-4 col-md-3 partner partner-img"></div>
                <div class="col-4 col-md-3 partner partner-img"></div>
                <div class="col-4 col-md-3 partner partner-img"></div>
                <div class="col-4 col-md-3 partner partner-img"></div>
                <div class="col-4 col-md-3 partner partner-img"></div>
                <div class="col-4 col-md-3 partner partner-img"></div>
            </div>
        </div>

    </div>
</div>
