<div class="clients-content-wrapper">
    <div class="clients-content about-inner-content" *ngIf="content"
         [style.padding]="
            (windowSize.width * 97)/1920 + 'px '
         + (windowSize.width * 134)/1920 + 'px '
         + (windowSize.width * 139)/1920 + 'px '
         + (windowSize.width * 139)/1920 + 'px' ">

        <div class="heading"
             [style.font-size]="(windowSize.width * content.title.fontSize * windowSize.rate) / 1920 + 'px'"
             [style.line-height]="(windowSize.width * content.title.lineHeight * windowSize.rate) / 1920 + 'px'"
             [style.font-family]="content.title.fontFamily"
        >
            {{ content.title.text }}
        </div>

        <div class="description"
             [style.font-size]="(windowSize.width * content.description.fontSize * windowSize.rate) / 1920 + 'px'"
             [style.line-height]="(windowSize.width * content.description.lineHeight * windowSize.rate) / 1920 + 'px'"
             [style.font-family]="content.description.fontFamily"
        >
            {{ content.description.text }}
        </div>

        <div class="partners">
            <div class="row m-0">
                <ng-container *ngFor="let block of content.blocks">
<!--                    <div *ngIf="block.backGround"-->
<!--                         class="col-4 col-md-3 partner partner-img"-->
<!--                         [style.backgroundImage]="'url(' + block.backGround +')'">-->
<!--                    </div>-->
                    <div
                         [style.backgroundImage]="'url(' + block.backGround +')'"
                         [style.font-size]="(windowSize.width * block.fontSize * windowSize.rate) / 1920 + 'px'"
                         [style.line-height]="(windowSize.width * block.lineHeight * windowSize.rate) / 1920 + 'px'"
                         [style.font-family]="block.fontFamily"
                         class="col-4 col-md-3 partner">
                        <div class="partner-text">
<!--                            {{ block.text }}-->
                            Example
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>

    </div>
</div>
