$font-regular: 'Open Sans Regular', sans-serif;
$font-extraBold: 'Open Sans Extrabold', sans-serif;

.clients-content-wrapper {
  width: 100%;

  .heading {
    text-align: left;
    font-family: $font-extraBold;
    letter-spacing: -2.6px;
    color: #000A1D;
    text-transform: capitalize;
    padding-bottom: 26px;
  }

  .description {
    text-align: left;
    font-family: $font-regular;
    letter-spacing: -0.52px;
    color: #000A1D;
  }

  .partners {

    .partner {
      width: 218px;
      height: 218px;
      border: 1px solid #707070;
    }

    .partner-img {
      background-repeat: no-repeat;
      background-position: center;
      background-size: 90px;
    }

    .partner-text {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #000A1D;
      text-align: center;
      font-size: 14px;
      line-height: 25px;
      font-family: $font-regular;
      letter-spacing: 0;
      color: #FFFFFF;
    }
  }
}


// // // Media // // //

@media (min-width: 1440px) {
  .partners {
    padding: 86px;
  }
}

@media (min-width: 767px) and (max-width: 1440px) {
  .partners {
    padding: 30px;
  }
}

@media (max-width: 767px) {
  .clients-content-wrapper {
    .heading {
      font-size: 26px !important;
      line-height: 35px !important;
      letter-spacing: -1.04px !important;
    }

    .description {
      font-size: 11px !important;
      line-height: 15px !important;
      letter-spacing: 0 !important;
    }

    .partners {
      padding: 28px 0 28px 0;

      .partner {
        width: 103px;
        height: 103px;
      }

      .partner-img {
        background-size: 30px;
      }

      .partner-text {
        font-size: 7px;
        line-height: 12px;
      }
    }
  }

}
