<div class="clients-content-wrapper">
    <div class="clients-content about-inner-content" *ngIf="content"
         [style.padding]="
            (windowSize.width * 97)/1920 + 'px '
         + (windowSize.width * 139)/1920 + 'px '
         + (windowSize.width * 139)/1920 + 'px' ">

        <div class="heading"
             [style.font-size]="(windowSize.width * 65 * windowSize.rate) / 1920 + 'px'"
             [style.line-height]="(windowSize.width * 80 * windowSize.rate) / 1920 + 'px'"
        >
            {{ content.title }}
        </div>

        <div class="description"
             [style.font-size]="(windowSize.width * 26 * windowSize.rate) / 1920 + 'px'"
             [style.line-height]="(windowSize.width * 45 * windowSize.rate) / 1920 + 'px'"
        >
            {{ content.description }}
        </div>

        <div class="partners">
            <div class="row m-0">
                <ng-container *ngFor="let block of content.blocks">
                    <div *ngIf="block.backGround"
                         class="col-4 col-md-3 partner partner-img"
                         [style.backgroundImage]="'url(' + block.backGround +')'">
                    </div>
                    <div *ngIf="block.text"
                         class="col-4 col-md-3 partner partner-text">
                        {{ block.text }}
                    </div>
                </ng-container>
            </div>
        </div>

    </div>
</div>
