<!--<form [formGroup]="validateForm" >-->
<!--  <div class="container">-->
<!--    <div class="row">-->
<!--      <div class="col-6 offset-3 mt-5">-->

<!--        <nz-form-item>-->
<!--        <nz-form-label [nzSm]="6" [nzXs]="24" >Title</nz-form-label>-->
<!--        <nz-form-control [nzSm]="14" [nzXs]="24">-->
<!--          <input nz-input formControlName="title">-->
<!--        </nz-form-control>-->
<!--      </nz-form-item>-->


<!--        <nz-form-item>-->
<!--          <nz-form-item>-->
<!--          <nz-form-label [nzSm]="6" [nzXs]="24" >Type</nz-form-label>-->
<!--          <nz-select tagName="input" [(ngModel)]="selectedValueType" (ngModelChange)="foo(selectedValueType)" formControlName="type" style="max-width: 210px;">-->
<!--            <nz-option nzLabel="Portfolio" nzValue="portfolio"></nz-option>-->
<!--            <nz-option nzLabel="Post" nzValue="post"></nz-option>-->
<!--            <nz-option nzLabel="Url" nzValue="url"></nz-option>-->
<!--          </nz-select>-->
<!--          </nz-form-item>-->

<!--          <div [ngSwitch]="selectedValueType">-->
<!--            <div *ngSwitchCase="'url'">-->
<!--              <nz-form-item>-->
<!--                <nz-form-label [nzSm]="6" [nzXs]="24" >Url</nz-form-label>-->
<!--                <nz-form-control [nzSm]="14" [nzXs]="24">-->
<!--                  <input nz-input formControlName="url">-->
<!--                </nz-form-control>-->
<!--              </nz-form-item>-->
<!--            </div>-->
<!--            <div *ngSwitchDefault>-->
<!--              <nz-form-item>-->
<!--                <nz-form-label [nzSm]="6" [nzXs]="24" >TypeId</nz-form-label>-->
<!--                <nz-select tagName="input" [(ngModel)]="selectedValueTypeId" formControlName="typeId" style="max-width: 210px;">-->
<!--                  <nz-option *ngFor="let item of allItems" nzLabel="{{item.title}}" nzValue="{{item._id}}"></nz-option>-->
<!--                </nz-select>-->
<!--              </nz-form-item>-->
<!--            </div>-->
<!--          </div>-->


<!--        </nz-form-item>-->
<!--      </div>-->
<!--      <div class="col-4 offset-4">-->
<!--        <div class="row">-->
<!--          <div class="col-11 offset-1">-->
<!--            <button-->
<!--              nz-button-->
<!--              [nzType]="'primary'"-->
<!--              [nzLoading]="uploading"-->
<!--              (click)="handleUpload()"-->
<!--              [disabled]="validateForm.invalid"-->
<!--              style="width: 100%">-->
<!--              {{ uploading ? 'Uploading' : 'Start Upload' }}-->
<!--            </button>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</form>-->


<form [formGroup]="validateForm" *ngIf="pages.length > 0">
    <div class="container">
        <div class="row">
            <div class="col-8 offset-2 mt-5">

                <nz-form-item>
                    <nz-form-label>Key</nz-form-label>
                    <nz-form-control >
                        <nz-select formControlName="key">
                            <nz-option nzLabel="{{page.key}}" nzValue="{{page.key}}"
                                       *ngFor="let page of pages">{{page}}</nz-option>
                        </nz-select>
                    </nz-form-control>

                </nz-form-item>


                <div class="form-group" formGroupName="title">
                    <div class="row">
                        <div class="col-6">
                            <label translate>Title</label>
                            <input type="text" placeholder="title" class="form-control" formControlName="text">
                        </div>
                        <div class="col-6">
                            <div class="row">
                                <div class="col-6">
                                    <div class="col-12">
                                        <label for="titleFontSize">Font Size</label>
                                    </div>
                                    <div class="col-12">
                                        <nz-input-number id="titleFontSize" [nzMin]="fontSizeMin"
                                                         nzPlaceHolder="Font Size"
                                                         [nzMax]="fontSizeMax"
                                                         formControlName="fontSize"
                                                         [nzStep]="1"></nz-input-number>
                                    </div>
                                </div>

                                <div class="col-6">
                                    <div class="col-12">
                                        <label for="titleFontFamily">Font Family</label>
                                    </div>
                                    <div class="col-12">

                                        <nz-select style="width: 120px;" formControlName="fontFamily"
                                                   nzAllowClear nzPlaceHolder="Font Family" id="titleFontFamily">
                                            <nz-option nzValue="Open Sans Regular"
                                                       nzLabel="Regular"></nz-option>
                                            <nz-option nzValue="Open Sans Semibold"
                                                       nzLabel="Semibold"></nz-option>
                                            <nz-option nzValue="Open Sans Bold"
                                                       nzLabel="Bold"></nz-option>
                                            <nz-option nzValue="Open Sans Extrabold"
                                                       nzLabel="Extrabold"></nz-option>
                                        </nz-select>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>


                <div class="form-group" formGroupName="description">
                    <div class="row">
                        <div class="col-6">
                            <label translate>Description</label>
                            <input type="text" placeholder="title" class="form-control" formControlName="text">
                        </div>
                        <div class="col-6">
                            <div class="row">
                                <div class="col-6">
                                    <div class="col-12">
                                        <label for="titleFontSize">Font Size</label>
                                    </div>
                                    <div class="col-12">
                                        <nz-input-number id="titleFontSize" [nzMin]="fontSizeMin"
                                                         nzPlaceHolder="Font Size"
                                                         [nzMax]="fontSizeMax"
                                                         formControlName="fontSize"
                                                         [nzStep]="1"></nz-input-number>
                                    </div>
                                </div>

                                <div class="col-6">
                                    <div class="col-12">
                                        <label for="titleFontFamily">Font Family</label>
                                    </div>
                                    <div class="col-12">

                                        <nz-select style="width: 120px;" formControlName="fontFamily"
                                                   nzAllowClear nzPlaceHolder="Font Family" id="titleFontFamily">
                                            <nz-option nzValue="Open Sans Regular"
                                                       nzLabel="Regular"></nz-option>
                                            <nz-option nzValue="Open Sans Semibold"
                                                       nzLabel="Semibold"></nz-option>
                                            <nz-option nzValue="Open Sans Bold"
                                                       nzLabel="Bold"></nz-option>
                                            <nz-option nzValue="Open Sans Extrabold"
                                                       nzLabel="Extrabold"></nz-option>
                                        </nz-select>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>


                <!--                <nz-form-item>-->
                <!--                    <nz-form-label [nzSm]="6" [nzXs]="24">Title</nz-form-label>-->
                <!--                    <nz-form-control [nzSm]="14" [nzXs]="24">-->
                <!--                        <input nz-input formControlName="title">-->
                <!--                    </nz-form-control>-->
                <!--                </nz-form-item>-->

                <!--                <nz-form-item>-->
                <!--                    <nz-form-label [nzSm]="6" [nzXs]="24">Description</nz-form-label>-->
                <!--                    <nz-form-control [nzSm]="14" [nzXs]="24">-->
                <!--                        <input nz-input formControlName="description">-->
                <!--                    </nz-form-control>-->
                <!--                </nz-form-item>-->

                <nz-form-item>
                    <nz-form-label >Is Active</nz-form-label>

                    <nz-form-control >
                        <nz-select formControlName="isActive">
                            <nz-option nzLabel="true" [nzValue]="true">true</nz-option>
                            <nz-option nzLabel="false" [nzValue]="false">false</nz-option>
                        </nz-select>
                    </nz-form-control>


                </nz-form-item>

                <nz-form-item>
                    <nz-form-label>Order</nz-form-label>
                    <nz-form-control>
                        <input nz-input formControlName="order" type="number">
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div class="col-4 offset-4">
                <div class="row">
                    <div class="col-11 offset-1">
                        <button
                            nz-button
                            [nzType]="'primary'"
                            [nzLoading]="uploading"
                            (click)="handleUpload()"
                            [disabled]="validateForm.invalid"
                            style="width: 100%">
                            {{ uploading ? 'Uploading' : 'Start Upload' }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>





