<div class="rightContentWrapper">

    <div class="loading-pppp" *ngIf="!done">loading ...</div>

    <div class="home-page custom-page bg-light col-12 col-lg-9 offset-lg-3 pr-0" *ngIf="done">

        <div class="accordion w-100 h-100 d-none d-md-block"
             *ngIf="windowWidth > 767">
            <div class="accordion-items h-100"
                 [style.width]="accordionItemsStyles.width + 'px'"
                 [style.left]="accordionItemsStyles.left  + 'px'">
                <div *ngFor="let slide of slides, let index = index"
                     (click)="initCurrent(index)"
                     class="slider-item"
                     [style.width]="slideWidth + 'px'">
                    <a [routerLink]="['project/' + slides[index].slug]">
                        <div class="slide-image">
                            <img [src]="imageUrl + slide.img + '?resize=' + resizeWidth + ',' + resizeHeight">
                        </div>
                    </a>
                    <div class="slide-text-content">
                        <h2>{{ slide.title }}</h2>
                        <div class="slide-desc">
                            <div class="desc-wrap">
                                <p>{{ slide.description }}</p>
                            </div>
                        </div>
                        <span>some text here</span>
                    </div>
                </div>
            </div>

            <div class="work-outlet" #customBody [style.transform]="'translate3d(0,' + workScrollTop + 'px, 0)'">
                <div id="wwww" class="detail-banner h-100"
                     [style.width]="clickedWidth + 'px'"
                     [style.min-height]="bannerHeight + 'px'">
                    <img class="animated"
                         *ngIf="(clickedSlide || clickedSlide == 0)"
                         [style.left]="detailWrapperLeft + 'px'"
                         [style.width]="zoomed + '%'"
                         [style.height]="detailWrapperHeight ? detailWrapperHeight + 'px' : 'auto'"
                         [src]="imageUrl + slides[clickedSlide].img  + '?resize=' + resizeWidth + ',' + resizeHeight + ',!'"
                         #image>
                    <div class="text-desc-wrapper" #detailWrapper
                         [style.padding]="windowWidth * 50 / 1920 + 'px ' + windowWidth * 100 / 1920 + 'px'">
                        <div class="detail-sub" *ngIf="currentSubTitle">{{ currentSubTitle }}</div>
                        <div class="detail-title" *ngIf="currentTitle"
                             [style.fontSize]="windowWidth * 50 / 1920 + 'px'"
                        > {{ currentTitle }} </div>
                        <div class="detail-desc" *ngIf="currentDesc"
                             [style.fontSize]="windowWidth * 18 / 1920 + 'px'"> {{ currentDesc }} </div>
                        <div class="detail-logo" [style.background]="'url(assets/icons/in-logo.PNG)'"></div>
                    </div>
                </div>
                <router-outlet></router-outlet>
            </div>
        </div>


        <a class="go-back-btn  d-none d-md-block" (click)="backToSlider()"
           *ngIf="windowWidth > 767">{{ backToWorkText }}</a>
        <div class="slider-buttons  d-none d-md-block">
            <div class="slider-next-btn"
                 (click)="!clickedSlide && clickedSlide !== 0 ? sliderNext() : pageNext()">
                <div class="btn-next-text">next job</div>
                <div class="slider-next-arrow"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></div>
            </div>
            <div class="slider-prev-btn"
                 (click)="!clickedSlide && clickedSlide !== 0 ? sliderPrev() : pagePrev()">
                <div class="btn-prev-text">prev job</div>
                <div class="slider-prev-arrow"><i class="fa fa-long-arrow-left" aria-hidden="true"></i></div>
            </div>
            <div class="down-btn animated fadeOut" #downBtn
                 (click)="goDown()">
                <div class="slider-down-arrow"><i class="fa fa-long-arrow-down" aria-hidden="true"></i></div>
            </div>
        </div>


        <div class="mobile-works" *ngIf="windowWidth <= 767">
            <div class=" row px-0 m-0">
                <div *ngFor="let slide of slides, let index = index"
                     (click)="mobileNavigate(index)"
                     class="slider-item-mobile col-12 col-sm-6 px-0">
                    <div class="slide-image">
                        <img [style.height]="resizeHeight + 'px'"
                             [src]="imageUrl + slide.img + '?resize=' + resizeWidth + ',' + resizeHeight">
                    </div>
                    <div class="slide-text-content">
                        <h2>{{ slide.title }}</h2>
                        <div class="slide-desc">
                            <div class="desc-wrap">
                                <p>{{ slide.description.slice(0, 50) + '...' }}</p>
                            </div>
                        </div>
                        <span>some text here</span>
                    </div>
                </div>
            </div>
            <div id="mobileRouter" class="mobile-router" [style.height]="clickedSlide  || clickedSlide == 0 ? '100vh' : '0'"
                 [style.width]="clickedSlide || clickedSlide == 0 ? '100vw' : '0'">
                <div *ngIf="(clickedSlide || clickedSlide == 0)"
                     class="go-back-btn-mobile"
                     (click)="backToSliderMob()">Back to works
                </div>
                <div id="mobileCont">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>

    </div>
</div>
<!--<div class="pt-5" *ngIf="done">-->
<!--    <app-all-blocks></app-all-blocks>-->
<!--</div>-->


<!--<owl-carousel-o [options]="options" #mainSlider>-->
<!--    <ng-template *ngFor="let slide of slides, let i = index" class="h-100" carouselSlide [id]="'slide-' + i">-->
<!--        <div class="my-slider-item"-->
<!--             (click)="navigate(slide.url)"-->
<!--             (mouseenter)="animateDesc($event)"-->
<!--             (mouseleave)="animateDescHide($event)"-->
<!--             [ngStyle]="{'background-image': slide.image ? 'url(' + imageUrl + slide.image + ')' : ''}">-->
<!--            <div class="item-content">-->
<!--                <div class="row">-->
<!--                    <div class="item-text col-12">-->
<!--                        <div class="item-title"-->
<!--                             [ngStyle]="{'color':slide.image? 'white': 'black'}">{{slide.title}}</div>-->
<!--                        <div class="item-description"-->
<!--                             [ngStyle]="{'color':slide.image? 'white': 'black'}"-->
<!--                        >{{ slide.description }}</div>-->
<!--                    </div>-->
<!--                    <div class="items-counter col-12"> some text </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </ng-template>-->

<!--    <ng-container *ngIf="slides.length < 1">-->
<!--        <ng-template class="h-100" carouselSlide>-->
<!--            <div class="my-slider-item no-image-wrapper"-->
<!--                 [ngStyle]="{'background-image': 'url(' + 'assets/images/no-slid.png' + ')'}">-->
<!--                <div class="item-content">-->
<!--                    <div class="row">-->
<!--                        <div class="item-text col-10">-->
<!--                            <div class="item-title" [style.color]="'black'">No image</div>-->
<!--                        </div>-->
<!--                        <div class="items-counter col-2">-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </ng-template>-->
<!--    </ng-container>-->
<!--</owl-carousel-o>-->
