<form [formGroup]="form" (ngSubmit)="submit()" class="common-form">

    <mat-grid-list [cols]="mobileWidth > 767 ? 2 : 1" rowHeight="100px">
        <!--<input type="hidden" formControlName="$key">-->

        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-form-field>
                <input id="fullName" formControlName="fullName" matInput placeholder="Name">
                <mat-hint
                        [style.font-size]="(windowSize.width * 20 * windowSize.rate) / 1920 + 'px'"
                        [style.line-height]="(windowSize.width * 32* windowSize.rate) / 1920 + 'px'">Name*
                </mat-hint>
                <mat-error *ngIf="form.controls['fullName'].errors?.required">Name required</mat-error>
                <mat-error *ngIf="form.controls['fullName'].errors?.pattern">Not valid name</mat-error>
            </mat-form-field>
        </mat-grid-tile>


        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-form-field>
                <input formControlName="email" matInput placeholder="Email">
                <mat-hint
                        [style.font-size]="(windowSize.width * 20 * windowSize.rate) / 1920 + 'px'"
                        [style.line-height]="(windowSize.width * 32* windowSize.rate) / 1920 + 'px'">Email*
                </mat-hint>
                <mat-error *ngIf="form.controls['email'].errors?.required">Email required</mat-error>
                <mat-error *ngIf="form.controls['email'].errors?.pattern">Invalid email.</mat-error>
            </mat-form-field>
        </mat-grid-tile>

        <!--        <mat-grid-tile [colspan]="1" [rowspan]="1" *ngIf="type !== 'careers'">-->
        <!--            <mat-form-field>-->
        <!--                <input formControlName="phone" type="number" matInput placeholder="Phone">-->
        <!--                <mat-hint-->
        <!--                        [style.font-size]="(windowSize.width * 20 * windowSize.rate) / 1920 + 'px'"-->
        <!--                        [style.line-height]="(windowSize.width * 32* windowSize.rate) / 1920 + 'px'">Phone*-->
        <!--                </mat-hint>-->
        <!--                <mat-error *ngIf="form.controls['phone'].errors?.required">Phone required</mat-error>-->
        <!--                <mat-error *ngIf="form.controls['phone'].errors?.email">Invalid phone</mat-error>-->
        <!--            </mat-form-field>-->
        <!--        </mat-grid-tile>-->


        <mat-grid-tile [colspan]="1" [rowspan]="1" *ngIf="type !== 'careers'">
            <mat-form-field>
                <input id="phone"
                       matInput
                       ng2TelInput
                       [ng2TelInputOptions]="{initialCountry: 'us'}"
                       (countryChange)="onCountryChange($event)"
                       formControlName="phone">
                <span id="countryCode" matPrefix> + {{'(' + currentCountryPhone + ')'}}&nbsp;</span>

                <mat-error *ngIf="form.controls['phone'].errors?.required">Phone required</mat-error>
                <mat-error *ngIf="form.controls['phone'].errors?.pattern">Invalid phone number</mat-error>
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="1" [rowspan]="1" *ngIf="type !== 'careers'">
            <mat-form-field>
                <input formControlName="companyName" matInput placeholder="Company Name">
                <mat-hint
                        [style.font-size]="(windowSize.width * 20 * windowSize.rate) / 1920 + 'px'"
                        [style.line-height]="(windowSize.width * 32* windowSize.rate) / 1920 + 'px'">Company Name*
                </mat-hint>
                <mat-error *ngIf="form.controls['companyName'].errors?.required">Company Name required</mat-error>
                <mat-error *ngIf="form.controls['companyName'].errors?.pattern">Invalid Company Name</mat-error>
            </mat-form-field>
        </mat-grid-tile>

    </mat-grid-list>

    <mat-grid-list cols="2" rowHeight="200px">
        <mat-grid-tile colspan="2">
            <div class="area">
                <textarea formControlName="text" rows="5" cols="100" matInput></textarea>
            </div>
        </mat-grid-tile>
    </mat-grid-list>


    <div class="button-row">
        <button mat-raised-button type="submit" [disabled]="form.invalid">

            <span
                    [style.font-size]="(windowSize.width * buttonValue.fontSize * windowSize.rate) / 1920 + 'px'"
                    [style.line-height]="(windowSize.width * buttonValue.lineHeight * windowSize.rate) / 1920 + 'px'"
                    [style.font-family]="buttonValue.fontFamily"
                    *ngIf="!done"
            >{{buttonValue.text}}</span>

            <span *ngIf="done" class="spinner-border text-light" role="status">
                <span class="sr-only">Loading...</span>
            </span>

        </button>
    </div>
</form>
