$font-regular: 'Open Sans Regular', sans-serif;
$font-semiBold: 'Open Sans Semibold', sans-serif;

.common-form{
  max-width: 790px;
}
::ng-deep .iti__country-list {
  position: fixed;
  z-index: 999;
}

::ng-deep mat-grid-tile .mat-figure {
  justify-content: unset !important;
}

mat-hint {
  letter-spacing: -0.4px;
  font-family: $font-semiBold;
}

mat-form-field {
  width: 97%;
}

.area textarea {
  border: 1px solid grey;
  width: 98.5%;
  height: 80%;
  resize: none;
  padding: 10px;
  outline: none;
}

.button-row {
  width: 95%;
}

button {
  position: absolute;
  left: 15px;
  width: 200px;
  height: 40px;
  color: #FFFFFF;
  background-color: #000A1D;
  font-family: $font-semiBold;
}

// // // MEDIA // // //

@media (max-width: 797px) {
  mat-hint {
    font-size: 12px !important;
    line-height: 32px !important;
    letter-spacing: -0.24px !important;
  }
  ::ng-deep .cdk-overlay-pane {
    width: 300px !important;
    left: 0 !important;
    right: 0 !important;
    margin: auto !important;
    //transform: none !important;
  }

}

@media (max-width: 331px) {
  ::ng-deep .mat-select-panel {
    min-width: calc(100% + 16px) !important;
  }
}
