.mt-50{
  margin-top: 50px;
  @media (max-width: 768px) {
    margin-top: 0;
  }
}
.custom-container{
  padding: 50px;
}
.side-bar{
  height: calc(100vh - 100px);
  @media (max-width: 768px) {
    height: auto;
  }
}




