$font-semiBold: 'Open Sans Semibold', sans-serif;
$font-extraBold: 'Open Sans Extrabold', sans-serif;

.remark-content-wrapper {
  width: 100%;
  background-color: #DDDDDD;
  text-align: center;

  .whole-remark {
    display: inline-block;
    text-align: center;

    .text {
      width: 100%;
      text-align: center;
      font-family: $font-extraBold;
      letter-spacing: -1.8px;
      color: #000A1D;
      padding-bottom: 36px;
      span{
        font-family: $font-extraBold;
        font-style: italic;
        letter-spacing: -1.8px;
        color: #ADFF2F;
      }
    }

    .author {
      width: 100%;
      font-family: $font-semiBold;
      letter-spacing: 0;
      color: #000000;
    }
  }
}

// // // Media // // //

@media (max-width: 768px) {
  .remark-content-wrapper {
    .whole-remark {
      .text {
        font-size: 15px !important;
        line-height: 20px !important;
        letter-spacing: -0.6px !important;
        padding-bottom: 3px !important;
      }

      .author {
        font-size: 10px !important;
        line-height: 35px !important;
      }
    }
  }

}
