<div class="remark-content-wrapper">
  <div class="remark-content about-inner-content" *ngIf="content">

    <div class="whole-remark">

      <div class="text"
           [style.font-size]="(windowSize.width * 45 * windowSize.rate) / 1920 + 'px'"
           [style.line-height]="(windowSize.width * 61 * windowSize.rate) / 1920 + 'px'"
      >
        {{ content.title }}
      </div>

      <div class="author"
           [style.font-size]="(windowSize.width * 26 * windowSize.rate) / 1920 + 'px'"
           [style.line-height]="(windowSize.width * 35 * windowSize.rate) / 1920 + 'px'"
      >
        {{ content.description }}
      </div>

    </div>

  </div>
</div>
