<div class="remark-content-wrapper">
  <div class="remark-content about-inner-content" *ngIf="content"
       [style.padding]="
            (windowSize.width * 197)/1920 + 'px '
         + (windowSize.width * 191)/1920 + 'px '
         + (windowSize.width * 158)/1920 + 'px' ">

    <div class="whole-remark">

      <div class="text"
           [style.font-size]="(windowSize.width * content.title.fontSize * windowSize.rate) / 1920 + 'px'"
           [style.line-height]="(windowSize.width * content.title.lineHeight * windowSize.rate) / 1920 + 'px'"
           [style.font-family]="content.title.fontFamily"
      >
       <span>"</span> {{ content.title.text }} <span>"</span>
      </div>

      <div class="author"
           [style.font-size]="(windowSize.width * content.description.fontSize * windowSize.rate) / 1920 + 'px'"
           [style.line-height]="(windowSize.width * content.description.lineHeight * windowSize.rate) / 1920 + 'px'"
           [style.font-family]="content.description.fontFamily"
      >
        {{ content.description.text }}
      </div>

    </div>

  </div>
</div>
