

<nz-table #middleTable nzSize="middle" [nzData]="vacancy" [nzPageSize]="4">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <button style="text-align: center;padding-bottom: 10px; margin: 0 5px 0 5px;" class="btn btn-success float-right" (click)="addVacancy()"><i nz-icon type="folder-add" theme="outline"></i></button>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-6 mt-3" *ngFor="let vacancy of middleTable.data">
        <nz-card style="width:100%;" nzTitle="{{vacancy.title}}" [nzExtra]="extraTemplate">
          <div class="row">
            <div class="col-3">
              <img class="img-thumbnail" [src]="url + vacancy.image" alt="">
            </div>
            <div class="col-9">
              <p>{{vacancy.description}}</p>
              <hr>
              <p>{{vacancy.content}}</p>
            </div>
          </div>
        </nz-card>
        <ng-template #extraTemplate>
          <i nz-icon type="edit" theme="outline" class="_btn_edit" (click)="edit(vacancy)"></i>
          <nz-divider nzType="vertical"></nz-divider>
          <i nz-icon type="delete" theme="outline" class="_btn_delete" (click)="showDeleteConfirm(vacancy)"></i>
        </ng-template>
      </div>
    </div>
  </div>
</nz-table>

