$font-regular: 'Open Sans Regular', sans-serif;
$font-extraBold: 'Open Sans Extrabold', sans-serif;

.our-awards-content-wrapper {
  width: 100%;

  .heading {
    text-align: left;
    //font-size: 65px;
    //line-height: 80px;
    font-family: $font-extraBold;
    letter-spacing: -2.6px;
    color: #000A1D;
    text-transform: capitalize;
    opacity: 1;
    padding-bottom: 26px;
  }

  .description {
    text-align: left;
    //width: 675px;
    //font-size: 26px;
    //line-height: 45px;
    font-family: $font-regular;
    letter-spacing: -0.52px;
    color: #000A1D;
    opacity: 1;
  }

  .awards {
    ul {
      margin: 0;
      padding: 0 0 0 20px;
    }

    .award {
      width: 218px;
      height: 218px;
      border: 1px solid #707070;
    }

    .award-img {
      background-repeat: no-repeat;
      background-position: center;
      background-size: 90px;
      opacity: 1;
    }

    .award-text {
      display: flex;
      align-items: center;
      padding: 0;
      justify-content: flex-start;
      font-family: $font-regular;
      font-size: 18px;
      line-height: 35px;
      background-color: #000A1D;
      letter-spacing: 0;
      color: #FFFFFF;

      ul li {
        list-style-type: none;
        color: #ffffff;
        letter-spacing: 0;
        opacity: 1;

        span {
          font-weight: bold;
        }
      }
    }
  }
}

// // // Media // // //

@media (min-width: 1440px) {
  .awards {
    padding: 86px;
  }
}

@media (min-width: 767px) and (max-width: 1440px) {
  .awards {
    padding: 30px;
  }
}

@media (max-width: 767px) {
  .our-awards-content-wrapper {
    margin-bottom: 32px;

    .heading {
      font-size: 26px !important;
      line-height: 35px !important;
      letter-spacing: -1.04px !important;
      padding-bottom: 15px !important;
    }

    .description {
      display: none;
      //font-size: 11px!important;
      //line-height: 15px!important;
      //letter-spacing: 0!important;
    }

    .awards {
      padding: 0;

      .award {
        width: 80px !important;
        height: 78px !important;
      }

      .award-img {
        background-size: 30px !important;
      }

      .award-text {
        justify-content: center!important;
        font-size: 10px !important;
        line-height: 14px !important;
      }
    }

  }

}
