<div class="our-awards-content-wrapper">
    <div class="our-awards-content about-inner-content" *ngIf="content"
         [style.padding]="
            (windowSize.width * 97)/1920 + 'px '
         + (windowSize.width * 134)/1920 + 'px '
         + (windowSize.width * 139)/1920 + 'px '
         + (windowSize.width * 139)/1920 + 'px' ">

        <div class="heading"
             [style.font-size]="(windowSize.width * content.title.fontSize * windowSize.rate) / 1920 + 'px'"
             [style.line-height]="(windowSize.width * content.title.lineHeight * windowSize.rate) / 1920 + 'px'"
             [style.font-family]="content.title.fontFamily"
        >
            {{ content.title.text }}
        </div>

        <div class="description"
             [style.font-size]="(windowSize.width * content.description.fontSize * windowSize.rate) / 1920 + 'px'"
             [style.line-height]="(windowSize.width * content.description.lineHeight * windowSize.rate) / 1920 + 'px'"
             [style.width]="(windowSize.width * 675 * windowSize.rate) / 1920 + 'px'"
             [style.font-family]="content.description.fontFamily"
        >
            {{ content.description.text }}
        </div>

        <div class="awards">
            <div class="row m-0">
                <div class="col-3 award award-text"
                     *ngFor="let block of content.blocks"
                     [style.backgroundImage]="'url(' + block.backGround + ')'">
                    <pre
                            [style.font-size]="(windowSize.width * block.hover.fontSize * windowSize.rate) / 1920 + 'px'"
                            [style.line-height]="(windowSize.width * block.hover.lineHeight * windowSize.rate) / 1920 + 'px'"
                            [style.font-family]="block.hover.fontFamily"
                    >{{block.hover.text}}</pre>
                </div>
            </div>
        </div>

    </div>
</div>
