$font-regular: 'Open Sans Regular', sans-serif;
$font-extraBold: 'Open Sans Extrabold', sans-serif;

.our-awards-content-wrapper {
  width: 100%;

  .heading {
    text-align: left;
    //font-family: $font-extraBold;
    letter-spacing: -2.6px;
    color: #000A1D;
    text-transform: capitalize;
    padding-bottom: 26px;
  }

  .description {
    text-align: left;
    //font-family: $font-regular;
    letter-spacing: -0.52px;
    color: #000A1D;
  }

  .awards {
    ul {
      margin: 0;
      padding: 0 0 0 20px;
    }

    .award {
      width: 218px;
      height: 218px;
      border: 1px solid #707070;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 70px;
      display: flex;
      align-items: center;
      padding: 0;
      justify-content: flex-start;
    }

    //.award-img {
    //  background-repeat: no-repeat;
    //  background-position: center;
    //  background-size: 70px;
    //}

    .award {
      //font-family: $font-regular;
      font-size: 18px;
      line-height: 35px;
      letter-spacing: 0;
      color: #FFFFFF;

      ul li {
        list-style-type: none;
        color: #ffffff;
        letter-spacing: 0;
        opacity: 0;
        visibility: hidden;

        span {
          font-weight: bold;
          opacity: 0;
          visibility: hidden;
        }
      }
    }
  }
}

.award:hover {
  transition: 300ms all ease-in-out;
  background-color: #000A1D;
  background-image: none !important;
  cursor: default;
  opacity: 1 !important;
  visibility: visible !important;

  ul li {
    list-style-type: none;
    color: #ffffff;
    letter-spacing: 0;
    opacity: 1 !important;
    visibility: visible !important;

    span {
      font-weight: bold;
      opacity: 1 !important;
      visibility: visible !important;
    }
  }
}

// // // Media // // //

@media (min-width: 1440px) {
  .awards {
    padding: 86px;
  }
}

@media (min-width: 767px) and (max-width: 1440px) {
  .awards {
    padding: 30px;
  }
}

@media (max-width: 767px) {
  .our-awards-content-wrapper {
    margin-bottom: 32px;

    .heading {
      font-size: 26px !important;
      line-height: 35px !important;
      letter-spacing: -1.04px !important;
      padding-bottom: 15px !important;
    }

    .description {
      display: none;
      //font-size: 11px!important;
      //line-height: 15px!important;
      //letter-spacing: 0!important;
    }

    .awards {
      padding: 0;

      .award-img {
        background-size: 30px !important;
      }

      .award-text {
        justify-content: center !important;
        font-size: 10px !important;
        line-height: 14px !important;
      }
    }

  }

}
