<div class="our-awards-content-wrapper">
    <div class="our-awards-content about-inner-content">

        <div class="heading">
            Awards
        </div>
        <div class="description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore
            magna aliqua. Ut enim ad minim veniam,
        </div>

        <div class="awards">
            <div class="row">
                <div class="col-3 award award-text">
                    <ul>
                        <li><span>3</span> Gold</li>
                        <li><span>7</span> Silver</li>
                        <li><span>1</span> Bronze</li>
                    </ul>
                </div>
                <div class="col-3 award award-img"></div>
                <div class="col-3 award award-img"></div>
                <div class="col-3 award award-img"></div>
                <div class="col-3 award award-img"></div>
                <div class="col-3 award award-img"></div>
                <div class="col-3 award award-img"></div>
                <div class="col-3 award award-img"></div>
            </div>
        </div>

    </div>
</div>
