<div class="d-none d-lg-block video-block h-100 bg-black"
     (mouseenter)="toggleAutoplay()"
     (mouseleave)="toggleAutoplay()"

>
    <video #videoElement
           onmouseenter="this.play()"
           onmouseout="this.pause()"
           class="h-100 w-100"
           [loop]="true"
           [volume]=".8"
           [autoplay]="play"
           [muted]=false>
        <source [src]="videoUrl + block.video" type="video/mp4"/>
    </video>

    <div #videoLogo class="on-content w-100">
        <div class="video-title row">
            <div class="logo col-6 text-right">
                <div class="round-border">
                    <i class="fa fa-play" aria-hidden="true"></i>
                </div>
            </div>
            <div *ngIf="block.videoText" class="col-6">
                {{block.videoText  | uppercase}}
            </div>
        </div>
    </div>
</div>

<div class="d-block d-lg-none video-block-mobile"
>
    <div class="content bg-black h-100">
        <video #videoElementMob
               onmouseenter="this.play()"
               onmouseout="this.pause()"
               class="h-100 w-100"
               [loop]="true"
               [volume]=".8"
               [autoplay]="play"
               [muted]=false>
            <source [src]="videoUrl + block.video" type="video/mp4"/>
        </video>

        <div #videoLogoMob class="on-content w-100">
            <div class="video-title row">
                <div class="logo col-6 text-right">
                    <div class="round-border">
                        <i class="fa fa-play" aria-hidden="true"></i>
                    </div>
                </div>
                <div *ngIf="block.videoText" class="col-6">
                    {{block.videoText | uppercase}}
                </div>
            </div>
        </div>
    </div>
</div>
