<div class="d-none d-lg-block side-bar-content h-100" [style.width]="((windowSize.height - 112) / 2) + 'px'">

    <div class="an h-50">
        <div class="side-bar-header"
             [style.padding-top]="(((windowSize.height - 112) / 2) * 36 ) / 455 + 'px'"
             [style.padding-right]="(((windowSize.height - 112) / 2) * 52 ) / 455 + 'px'"
             [style.padding-bottom]="(((windowSize.height - 112) / 2) * 65 ) / 455 + 'px'"
             [style.padding-left]="(((windowSize.height - 112) / 2) * 36 ) / 455 + 'px'">

            <div class="top-part row m-0">
                <div class="menu-title col-6 px-0" *ngIf="done">
                    <div *ngIf="logos[0].image; else link">
                        <img [routerLink]="[{ outlets: { primary: [] } }]"
                             [src]="imageUrl + logos[0].image['image']"
                             alt=""
                             class="logo_image"
                             [style.margin-bottom]="(((windowSize.height - 112) / 2) * 63 ) / 455 + 'px'"
                             [style.height]="(((windowSize.height - 112) / 2) * 47 ) / 455 + 'px'">
                    </div>
                    <ng-template #link>
                        <a [routerLink]="[{ outlets: { primary: [] } }]" style="cursor: pointer;">
                            <h1 [style.font-size]="(((windowSize.height - 112) / 2) * 50 ) / 455 + 'px'"
                                [style.letter-spacing]="-(((windowSize.height - 112) / 2) * 5 ) / 455 + 'px'"
                                [style.margin-bottom]="(((windowSize.height - 112) / 2) * 63 ) / 455 + 'px'"
                            >nika</h1>
                        </a>
                    </ng-template>
                </div>
            </div>

            <div class="bottom-part" *ngIf="menu">
                <div id="menu-content" class="side-bar-about h-75">
                    <div class="links-content">
                        <div class="menu-items"
                             [style.font-size]="(((windowSize.height - 112) / 2) * 25 ) / 455 + 'px'"
                             [style.line-height]="(((windowSize.height - 112) / 2) * 45 ) / 455 + 'px'"
                        >
                            <a [routerLink]="['about']">{{ menu.about.title }}</a><span> {{ menu.about.description }} </span>
                        </div>
                        <div class="menu-items"
                             [style.font-size]="(((windowSize.height - 112) / 2) * 25 ) / 455 + 'px'"
                             [style.line-height]="(((windowSize.height - 112) / 2) * 45 ) / 455 + 'px'"
                        >
                            <a [routerLink]="['/']">{{ menu.works.title }}</a><span> {{ menu.works.description }} </span>
                        </div>
                    </div>
                </div>
                <div class="side-bar-meet-link h-25"
                     [style.font-size]="(((windowSize.height - 112) / 2) * 25 ) / 455 + 'px'"
                     [style.line-height]="(((windowSize.height - 112) / 2) * 45 ) / 455 + 'px'"
                >
                    <a [routerLink]="['contact']">{{ menu.contact.title }}</a><span> {{ menu.contact.description }} </span>
                </div>
            </div>
        </div>
    </div>

    <div class="side-bar-logo h-50" style="background: #000a1d;text-align: center;">
        <div class="logo-wrapper h-100" *ngIf="done">
            <div *ngIf="logos[1].image; else link" class="h-100">
                <a [href]="imgLink" target="_blank">
                    <img class="align-self-center" [src]="imageUrl + logos[1].image['image']" alt="logo">
                </a>
            </div>
            <ng-template #link class="h-100">
                <a [href]="imgLink" target="_blank">
                    <img class="align-self-center" src="assets/images/logo.PNG" alt="logo">
                </a>
            </ng-template>
        </div>
    </div>

</div>

<div class="d-block d-lg-none mobile-header">

    <div class="mobile-menu row">
        <div class="mobile-menu-title col-6">
            <a [routerLink]="[{ outlets: { primary: [] } }]" style="cursor: pointer;"><h1 class="logo-title">nika</h1>
            </a>
        </div>
        <div class="mobile-hamburger-logo col-6" (click)="showMenu ? hideMobMenu(): showMobMenu()">
            <div id="mobile-toggle-icon"
                 class="hamburger-logo-toggle-img float-right"
                 [ngClass]="showMenu ? 'rotate' : ''">
                <div class="hamburger-line-1"></div>
                <div class="hamburger-line-2"></div>
                <div class="hamburger-line-3"></div>
            </div>
        </div>
    </div>


    <div id="hiddenCont" class="hidden-menu" *ngIf="menu && showMenu">
        <div class="menu-items">
            <a [routerLink]="['about']"> {{ menu.about.title }} </a><span> {{ menu.about.description }} </span>
        </div>
        <div class="menu-items">
            <a [routerLink]="['/']">{{ menu.works.title }}</a><span> {{ menu.works.description }} </span>
        </div>
        <div class="menu-items">
            <a [routerLink]="['contact']">{{ menu.contact.title }}</a><span> {{ menu.contact.description }} </span>
        </div>
    </div>

</div>
