
<div class="rightContentWrapper">
    <div class="col-md-9 offset-md-3 col-12 col-sm-12 p-0" *ngIf="done">
      <app-stories-desc></app-stories-desc>
    </div>
</div>


<div class="custom-container pt-5">

    <div class="row" *ngIf="done">

        <div class="col-12 row">
            <div *ngFor="let story of stories" class="col-12 col-md-3">
                <div class="img-wrapper img">
                    <a [routerLink]="['/story', story.id]"><img [src]="(imageUrl + story.image)" alt="image"></a>
                </div>
                <div class="block-title">{{story.title}}</div>
            </div>
        </div>
    </div>
</div>
