<!--<div class="custom-container custom-page">-->
<!--<h3>{{id}}</h3>-->

<!--<h1 style="text-align: center;padding: 50px">-->
<!--{{ blog.title }}-->
<!--</h1>-->
<!--<div class="blog-image">-->
<!--<img [src]="blog.image" alt="">-->
<!--</div>-->
<!--<div class="description">-->
<!--{{blog.description}}-->
<!--</div>-->
<!--<div class="content">-->
<!--{{ blog.content }}-->
<!--</div>-->
<!--</div>-->

<div class="custom-container pt-0">
    <!--<h1 style="text-align: center;padding: 50px">-->
    <!--About Us-->
    <!--</h1>-->

    <div class="row">

        <div class="col-3">
            <div class="img-wrapper img">
                <img src="../../../../assets/images/banner.PNG" alt="image">
            </div>
            <div class="block-title">Electric imp</div>
        </div>
        <div class="col-3">
            <div class="img-wrapper img">
                <img src="../../../../assets/images/banner.PNG" alt="image">
            </div>
            <div class="block-title">Tanaka</div>
        </div>
        <div class="col-3">
            <div class="img-wrapper img">
                <img src="../../../../assets/images/banner.PNG" alt="image">
            </div>
            <div class="block-title">Some title</div>
        </div>
        <div class="col-3">
            <div class="img-wrapper img">
                <img src="../../../../assets/images/banner.PNG" alt="image">
            </div>
            <div class="block-title">Electric imp</div>
        </div>
        <div class="col-3">
            <div class="img-wrapper img">
                <img src="../../../../assets/images/banner.PNG" alt="image">
            </div>
            <div class="block-title">Other title</div>
        </div>
        <div class="col-3">
            <div class="img-wrapper img">
                <img src="../../../../assets/images/banner.PNG" alt="image">
            </div>
            <div class="block-title">Tanaka</div>
        </div>
        <div class="col-3">
            <div class="img-wrapper img">
                <img src="../../../../assets/images/banner.PNG" alt="image">
            </div>
            <div class="block-title">Electric imp</div>
        </div>
        <div class="col-3">
            <div class="img-wrapper img">
                <img src="../../../../assets/images/banner.PNG" alt="image">
            </div>
            <div class="block-title">Something else</div>
        </div>
        <div class="col-3">
            <div class="img-wrapper img">
                <img src="../../../../assets/images/banner.PNG" alt="image">
            </div>
            <div class="block-title">Electric imp</div>
        </div>
        <div class="col-3">
            <div class="img-wrapper img">
                <img src="../../../../assets/images/banner.PNG" alt="image">
            </div>
            <div class="block-title">Tanaka</div>
        </div>
        <div class="col-3">
            <div class="img-wrapper img">
                <img src="../../../../assets/images/banner.PNG" alt="image">
            </div>
            <div class="block-title">Some title</div>
        </div>
        <div class="col-3">
            <div class="img-wrapper img">
                <img src="../../../../assets/images/banner.PNG" alt="image">
            </div>
            <div class="block-title">Electric imp</div>
        </div>
        <div class="col-3">
            <div class="img-wrapper img">
                <img src="../../../../assets/images/banner.PNG" alt="image">
            </div>
            <div class="block-title">Other title</div>
        </div>
        <div class="col-3">
            <div class="img-wrapper img">
                <img src="../../../../assets/images/banner.PNG" alt="image">
            </div>
            <div class="block-title">Tanaka</div>
        </div>
        <div class="col-3">
            <div class="img-wrapper img">
                <img src="../../../../assets/images/banner.PNG" alt="image">
            </div>
            <div class="block-title">Electric imp</div>
        </div>
        <div class="col-3">
            <div class="img-wrapper img">
                <img src="../../../../assets/images/banner.PNG" alt="image">
            </div>
            <div class="block-title">Something else</div>
        </div>

    </div>

</div>