<div class="blog-block h-100">
    <div class="blog-logo">
        BLOG
    </div>
    <div class="content" *ngIf="block.stories.length > 1">

        <owl-carousel-o [options]="customOptions">
            <ng-template *ngFor="let item of block.stories, let i = index" class="h-100" carouselSlide>
                <!--<a [routerLink]="['stories', item.id]">-->
                <div class="blog-title">
                    {{item}}
                </div>
                <div class="blog-description">
                    desc
                    <!--<p>{{item.description}}</p>-->
                </div>
                <!--</a>-->
            </ng-template>
        </owl-carousel-o>

    </div>


    <div class="content" *ngIf="block.stories.length == 1">
        <!--<a [routerLink]="['stories', block.content[0].id]">-->
        <div class="blog-title">{{block.stories[0]}}</div>
        <div class="blog-description">
            <p>{{block.stories[0]}}</p>
        </div>
        <!--</a>-->
    </div>

</div>

