<p>
    careers works!
</p>
<div class="careers-content">

    <!--    <p class="contact-title">Feeling good about working with us?</p>-->
    <!--    <p class="contact-description">Please provide a brief description of your bussines and well do our best to get back-->
    <!--        to you in a timely manner.-->
    <!--    </p>-->

    <p class="careers-description"
       [style.font-size]="(windowSize.width * 20 * windowSize.rate) / 1920 + 'px'"
       [style.line-height]="(windowSize.width * 30* windowSize.rate) / 1920 + 'px'">
        Interested in partnering with us? Please provide a brief description of your business inquiry and we’ll do our
        best to get back to you in a timely manner.
    </p>

    <div class="col-12">
        <form [formGroup]="form" (ngSubmit)="submit()" class="">

            <mat-grid-list cols="2" rowHeight="100px">
                <!--<input type="hidden" formControlName="$key">-->

                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field>
                        <input id="fullName" formControlName="fullName" matInput placeholder="Name">
                        <mat-hint
                                [style.font-size]="(windowSize.width * 20 * windowSize.rate) / 1920 + 'px'"
                                [style.line-height]="(windowSize.width * 32* windowSize.rate) / 1920 + 'px'">Name*
                        </mat-hint>
                        <mat-error>Name required</mat-error>
                    </mat-form-field>
                </mat-grid-tile>


                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field>
                        <input formControlName="email" matInput placeholder="Email">
                        <mat-hint
                                [style.font-size]="(windowSize.width * 20 * windowSize.rate) / 1920 + 'px'"
                                [style.line-height]="(windowSize.width * 32* windowSize.rate) / 1920 + 'px'">Email*
                        </mat-hint>
                        <mat-error *ngIf="form.controls['email'].errors?.required">Email required</mat-error>
                        <mat-error *ngIf="form.controls['email'].errors?.email">Invalid email.</mat-error>
                    </mat-form-field>
                </mat-grid-tile>


                <mat-grid-tile>
                    <mat-form-field class="example-full-width area">
                        <textarea formControlName="text" rows="5" cols="100" matInput></textarea>
                    </mat-form-field>
                </mat-grid-tile>


                <div class="button-row">
                    <button mat-raised-button type="submit" [disabled]="form.invalid">SUBMIT</button>
                    <!--            <div *ngIf="!done" class="spinner-border" role="status">-->
                    <!--                <span class="sr-only">Loading...</span>-->
                    <!--            </div>-->
                </div>

            </mat-grid-list>
        </form>
    </div>

</div>
