<div class="new-business-content-wrapper">

    <!--    <p class="contact-title">Feeling good about working with us?</p>-->
    <!--    <p class="contact-description">Please provide a brief description of your bussines and well do our best to get back-->
    <!--        to you in a timely manner.-->
    <!--    </p>-->

    <div class="careers-content col-12">
        <p class="careers-description"
           [style.font-size]="(windowSize.width * 20 * windowSize.rate) / 1920 + 'px'"
           [style.line-height]="(windowSize.width * 30* windowSize.rate) / 1920 + 'px'">
            Rebels are always wanted. Please send us a link to your portfolio and tell us in a few words why you would
            like to be a part of our team.
        </p>

        <app-contact-form [type]="'careers'"></app-contact-form>

    </div>

</div>

