<form [formGroup]="validateForm" >
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nz-upload
          nzType="drag"
          [nzLimit]="1"
          [(nzFileList)]="fileList"
          [nzBeforeUpload]="beforeUpload">
          <p class="ant-upload-drag-icon">
            <i nz-icon type="inbox"></i>
          </p>
          <p class="ant-upload-text">Click or drag file to this area to upload</p>
          <p class="ant-upload-hint">
            Support for a single or bulk upload. Strictly prohibit from uploading company data or other band files
          </p>
        </nz-upload>
      </div>
      <div class="col-6 offset-3 mt-5">
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" >Image Alt</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24">
            <input nz-input formControlName="alt">
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" >Type</nz-form-label>
          <nz-select formControlName="type" style="max-width: 210px;">
            <nz-option nzLabel="Media" nzValue="media"></nz-option>
            <nz-option nzLabel="Slider" nzValue="slider"></nz-option>
          </nz-select>

        </nz-form-item>
      </div>
      <div class="col-4 offset-4">
        <div class="row">
          <div class="col-11 offset-1">
            <button
              nz-button
              [nzType]="'primary'"
              [nzLoading]="uploading"
              (click)="handleUpload()"
              [disabled]="fileList.length == 0 || validateForm.invalid"
              style="width: 100%"
            >
              {{ uploading ? 'Uploading' : 'Start Upload' }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>


