<form [formGroup]="validateForm">
    <div class="container">
        <div class="row">
            <div class="col-6 offset-3 mt-5">

                <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24">Key</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24">
                        <input nz-input formControlName="key">
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24">Value</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24">
                        <input nz-input formControlName="value">
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24">Title</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24">
                        <input nz-input formControlName="title">
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24">Description</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24">
                        <input nz-input formControlName="description">
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24">Is Active</nz-form-label>

                    <nz-form-control [nzSm]="14" [nzXs]="24">
                        <nz-select formControlName="isActive">
                            <nz-option nzLabel="true" [nzValue]="true">true</nz-option>
                            <nz-option nzLabel="false" [nzValue]="false">false</nz-option>
                        </nz-select>
                    </nz-form-control>


                </nz-form-item>

                <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24">Order</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24">
                        <input nz-input formControlName="order" type="number">
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div class="col-4 offset-4">
                <div class="row">
                    <div class="col-11 offset-1">
                        <button
                            nz-button
                            [nzType]="'primary'"
                            [nzLoading]="uploading"
                            (click)="handleUpload()"
                            [disabled]="validateForm.invalid"
                            style="width: 100%">
                            {{ uploading ? 'Uploading' : 'Start Upload' }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>


