.contact{
  padding: 30px;
  text-align: left;
}
.title{
  font-weight: bold;
}

.titleMain{
  padding-left: 20px;
}
.normal-form{
  width: 100%;

}
mat-grid-tile{
  height: 50px !important;
  width: 100%;
}

.area textarea{
  border: 1px solid grey;
  width: 95%;
  height: 80%;
  resize: none;
  padding: 30px;
  outline: none;

}
.area{
  height:100%;
padding-left: 30px;
}
::-webkit-input-placeholder { /* Edge */
  color: red;
}

::-ms-input-placeholder { /* Internet Explorer */
  color: red;
}
::placeholder{
  font-weight: bold !important;
}

button{
  width: 200px;
  height: 40px;
  color: white !important;
  background: black !important;
  margin-right: -100px;
}



