<!--<button nz-button nzType="primary" (click)="showModal()">-->
<!--    <span>Show Modal</span>-->
<!--</button>-->
<nz-modal
    [(nzVisible)]="isVisible"
    nzTitle="Modal Title"
    (nzOnCancel)="handleCancel()"
    (nzOnOk)="handleOk()"
    [nzOkLoading]="isOkLoading"
>
    <input nz-input placeholder="Basic usage" [(ngModel)]="modalContent">

    <nz-input-number [(ngModel)]="fontSize" [nzMin]="1" [nzMax]="72" [nzStep]="1"></nz-input-number>

    <nz-input-number [(ngModel)]="lineHeight" [nzMin]="1" [nzMax]="300" [nzStep]="1"></nz-input-number>


    <nz-select style="width: 120px;" [(ngModel)]="fontFamily" nzAllowClear nzPlaceHolder="Font Family">
        <nz-option nzValue="Open Sans" nzLabel="Regular"></nz-option>
        <nz-option nzValue="Open Sans Semibold" nzLabel="Semibold"></nz-option>
        <nz-option nzValue="Open Sans Bold" nzLabel="Bold"></nz-option>
        <nz-option nzValue="Open Sans Extrabold" nzLabel="Extrabold"></nz-option>
    </nz-select>


    <!--    <p>{{modalContent}}</p>-->
</nz-modal>


<div *ngIf="done">
    <div class="introduce-content-wrapper">
        <div class="introduce-content about-inner-content"
             [style.backgroundImage]="'url('+ introduce.backgroundImage +')'">

            <div class="heading" (click)="myIntroduce(introduce.title, 'title')"
                 [ngStyle]="{'font-size': introduce.title.fontSize+'px', 'font-family': introduce.title.fontFamily, 'line-height':introduce.title.lineHeight + 'px'}">
                {{introduce.title.text}}
            </div>

            <div class="description" (click)="myIntroduce(introduce.description, 'description')"
                 [ngStyle]="{'font-size': introduce.description.fontSize+'px', 'font-family': introduce.description.fontFamily, 'line-height':introduce.description.lineHeight + 'px'}">
                {{introduce.description.text}}
            </div>

            <input type="file" [id]="'bg'"
                   (change)="myIntroduce($event,'backgroundImage')">
            <label [for]="'bg'">choose a file</label>

        </div>
    </div>

    <!--    <h1>++++++++++++++++++++++++++++++++++++++++++</h1>-->


    <div class="our-element-content-wrapper">
        <div class="our-element-content about-inner-content">

            <div class="heading" (click)="myElement(element.title,'title')"
                 [ngStyle]="{'font-size': element.title.fontSize+'px', 'font-family': element.title.fontFamily, 'line-height':element.title.lineHeight + 'px'}">
                {{element.title.text}}
            </div>

            <div>
                <ul class="list " *ngFor="let block of element.blocks; let i = index">
                    <li class="list-title"
                        [ngStyle]="{'font-size': block.title.fontSize+'px', 'font-family': block.title.fontFamily, 'line-height':block.title.lineHeight + 'px'}"
                        (click)="elementBlock(i,'title')">{{block.title.text}}</li>
                    <li class="list-description"
                        [ngStyle]="{'font-size': block.description.fontSize+'px', 'font-family': block.description.fontFamily, 'line-height':block.description.lineHeight + 'px'}"
                        (click)="elementBlock(i,'description')">{{block.description.text}}</li>
                </ul>
            </div>
        </div>
    </div>

    <!--    <h1>++++++++++++++++++++++++++++++++++++++++++</h1>-->


    <div class="clients-content-wrapper">
        <div class="clients-content about-inner-content">

            <div class="heading" (click)="myClient(client.title, 'title')"
                 [ngStyle]="{'font-size': client.title.fontSize+'px', 'font-family': client.title.fontFamily, 'line-height':client.title.lineHeight + 'px'}">
                {{client.title.text}}
            </div>

            <div class="description" (click)="myClient(client.description, 'description')"
                 [ngStyle]="{'font-size': client.description.fontSize+'px', 'font-family': client.description.fontFamily, 'line-height':client.description.lineHeight + 'px'}">
                {{client.description.text}}
            </div>

            <div class="partners">

                <div class="row m-0">

                    <div *ngFor="let block of client.blocks; let i = index" class="col-4 col-md-3 partner  m-0 p-0">
                        <ng-container *ngIf="block.text">
                            <div class="partner-text" (click)="clientBlock(i)"
                                 [ngStyle]="{'font-size': block.fontSize+'px', 'font-family': block.fontFamily, 'line-height':block.lineHeight + 'px'}">
                                {{block.text}}
                            </div>
                        </ng-container>

                        <ng-container *ngIf="block.backGround">
                            <div class="partner-img" [style.backgroundImage]="'url('+ block.backGround +')'"
                                 (click)="clientBlock(i)">

                            </div>
                            <div style="display: none;">
                                <input type="file" [id]="'clientBlock' + i"
                                       (change)="clientImage($event)">
                                <label [for]="'clientBlock' + i">choose a file</label>
                            </div>

                        </ng-container>
                    </div>

                </div>

            </div>

        </div>
    </div>


    <!--    <h1>++++++++++++++++++++++++++++++++++++++++++</h1>-->


    <div class="remark-content-wrapper">
        <div class="remark-content about-inner-content">

            <div class="whole-remark">

                <div class="text" (click)="myRemark(remark.title, 'title')"
                     [ngStyle]="{'font-size': remark.title.fontSize+'px', 'font-family': remark.title.fontFamily, 'line-height':remark.title.lineHeight + 'px'}">
                    {{remark.title.text}}
                </div>

                <div class="author" (click)="myRemark(remark.description, 'description')"
                     [ngStyle]="{'font-size': remark.description.fontSize+'px', 'font-family': remark.description.fontFamily, 'line-height':remark.description.lineHeight + 'px'}">
                    {{remark.description.text}}
                </div>

            </div>

        </div>
    </div>


    <!--    <h1>++++++++++++++++++++++++++++++++++++++++++</h1>-->


    <div class="leadership-content-wrapper">
        <div class="leadership-content about-inner-content">

            <div class="heading" (click)="myLeadership(leadership.title, 'title', '')"
                 [ngStyle]="{'font-size': leadership.title.fontSize+'px', 'font-family': leadership.title.fontFamily, 'line-height':leadership.title.lineHeight + 'px'}">
                {{leadership.title.text}}
            </div>

            <div class="description" (click)="myLeadership(leadership.description, 'description', '')"
                 [ngStyle]="{'font-size': leadership.description.fontSize+'px', 'font-family': leadership.description.fontFamily, 'line-height':leadership.description.lineHeight + 'px'}">
                {{leadership.description.text}}
            </div>

            <div class="leaders">
                <div class="leader">
                    <div class="image" [style.backgroundImage]="'url('+ leadership.first.avatar +')'"
                         (click)="myLeadership(leadership.first, 'first', 'avatar')">
                        <div style="display: none;">
                            <input type="file" [id]="'first_avatar'"
                                   (change)="leadershipImage($event)">
                            <label [for]="'first_avatar'">choose a file</label>
                        </div>
                    </div>
                    <div class="about">
                        <div class="author" (click)="myLeadership(leadership.first.name, 'first', 'name')"
                             [ngStyle]="{'font-size': leadership.first.name.fontSize+'px', 'font-family': leadership.first.name.fontFamily, 'line-height':leadership.first.name.lineHeight + 'px'}">
                            {{leadership.first.name.text}}
                        </div>
                        <div class="position" (click)="myLeadership(leadership.first.job, 'first', 'job')"
                             [ngStyle]="{'font-size': leadership.first.job.fontSize+'px', 'font-family': leadership.first.job.fontFamily, 'line-height':leadership.first.job.lineHeight + 'px'}">
                            {{leadership.first.job.text}}
                        </div>
                    </div>
                </div>
                <div class="leader">
                    <div class="image" [style.backgroundImage]="'url('+ leadership.second.avatar +')'"
                         (click)="myLeadership(leadership.first, 'second', 'avatar')">
                        <div style="display: none;">
                            <input type="file" [id]="'second_avatar'"
                                   (change)="leadershipImage($event)">
                            <label [for]="'second_avatar'">choose a file</label>
                        </div>
                    </div>
                    <div class="about">
                        <div class="author" (click)="myLeadership(leadership.second.name, 'second', 'name')"
                             [ngStyle]="{'font-size': leadership.second.name.fontSize+'px', 'font-family': leadership.second.name.fontFamily, 'line-height':leadership.second.name.lineHeight + 'px'}">
                            {{leadership.second.name.text}}
                        </div>
                        <div class="position" (click)="myLeadership(leadership.second.job, 'second', 'job')"
                             [ngStyle]="{'font-size': leadership.second.job.fontSize+'px', 'font-family': leadership.second.job.fontFamily, 'line-height':leadership.second.job.lineHeight + 'px'}">
                            {{leadership.second.job.text}}
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <!--    <h1>++++++++++++++++++++++++++++++++++++++++++</h1>-->


    <div class="our-awards-content-wrapper">
        <div class="our-awards-content about-inner-content">

            <div class="heading" (click)="myAwards(awards.title, 'title')"
                 [ngStyle]="{'font-size': awards.title.fontSize+'px', 'font-family': awards.title.fontFamily, 'line-height':awards.title.lineHeight + 'px'}">
                {{awards.title.text}}
            </div>

            <div class="description" (click)="myAwards(awards.description, 'description')"
                 [ngStyle]="{'font-size': awards.description.fontSize+'px', 'font-family': awards.description.fontFamily, 'line-height':awards.description.lineHeight + 'px'}">
                {{awards.description.text}}

            </div>

            <div class="awards">
                <div class="row m-0">
                    <div class="col-3 award award-text">
                        <ul>
                            <li *ngFor="let row of awards.first; let i = index"
                                (click)="awardsFirst(row,i)"
                                [ngStyle]="{'font-size': row.fontSize+'px', 'font-family': row.fontFamily, 'line-height':row.lineHeight + 'px'}">{{row.text}}</li>
                        </ul>
                    </div>

                    <!--                <div *ngFor="let img of awards.blocks; let i = index">-->
                    <div class="col-3 award award-img" (click)="awardsBlock('awards',i)"
                         *ngFor="let img of awards.blocks; let i = index"
                         [style.backgroundImage]="'url('+ img +')'">
                        <div style="display: none;">
                            <input type="file" [id]="'awards' + i"
                                   (change)="awardsImage($event)">
                            <label [for]="'awards' + i">choose a file</label>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>


</div>
