<!--<button nz-button nzType="primary" (click)="showModal()">-->
<!--    <span>Show Modal</span>-->
<!--</button>-->
<nz-modal
    [(nzVisible)]="isVisible"
    nzTitle="Modal Title"
    (nzOnCancel)="handleCancel()"
    (nzOnOk)="handleOk()"
    [nzOkLoading]="isOkLoading"
>
    <input nz-input placeholder="Basic usage" [(ngModel)]="modalContent"/>

    <!--    <p>{{modalContent}}</p>-->
</nz-modal>


<div *ngIf="done">
    <div class="introduce-content-wrapper">
        <div class="introduce-content about-inner-content"
             [style.backgroundImage]="'url('+ introduce.backgroundImage +')'"
             [style.padding]="
                    (windowSize.width * 97)/1920 + 'px '
                 + (windowSize.width * 139)/1920 + 'px '
                 + (windowSize.width * 139)/1920 + 'px' ">

            <div class="heading" (click)="myIntroduce(introduce.title, 'title')"
                 [style.width]="(windowSize.width * 672 * windowSize.rate) / 1920 + 'px'"
                 [style.font-size]="(windowSize.width * 65 * windowSize.rate) / 1920 + 'px'"
                 [style.line-height]="(windowSize.width * 80 * windowSize.rate) / 1920 + 'px'"
            >
                {{introduce.title}}
            </div>

            <div class="description" (click)="myIntroduce(introduce.description, 'description')"
                 [style.width]="(windowSize.width * 500 * windowSize.rate) / 1920 + 'px'"
                 [style.font-size]="(windowSize.width * 26 * windowSize.rate) / 1920 + 'px'"
                 [style.line-height]="(windowSize.width * 45 * windowSize.rate) / 1920 + 'px'"
            >
                {{introduce.description}}
            </div>

            <input type="file" [id]="'bg'"
                   (change)="myIntroduce($event,'backgroundImage')">
            <label [for]="'bg'">choose a file</label>

        </div>
    </div>


    <div class="our-element-content-wrapper">
        <div class="our-element-content about-inner-content"
             [style.padding]="
            (windowSize.width * 97)/1920 + 'px '
         + (windowSize.width * 139)/1920 + 'px '
         + (windowSize.width * 139)/1920 + 'px' ">

            <div class="heading" (click)="myElement(element.title,'title')"
                 [style.font-size]="(windowSize.width * 65 * windowSize.rate) / 1920 + 'px'"
                 [style.line-height]="(windowSize.width * 80 * windowSize.rate) / 1920 + 'px'">
                {{element.title}}
            </div>

            <div>
                <ul class="list " *ngFor="let block of element.blocks; let i = index">
                    <li class="list-title"
                        [style.font-size]="(windowSize.width * 36 * windowSize.rate) / 1920 + 'px'"
                        [style.line-height]="(windowSize.width * 160 * windowSize.rate) / 1920 + 'px'"
                        (click)="elementBlock(i,'title')">{{block.title}}</li>
                    <li class="list-description"
                        [style.font-size]="(windowSize.width * 22 * windowSize.rate) / 1920 + 'px'"
                        [style.line-height]="(windowSize.width * 35 * windowSize.rate) / 1920 + 'px'"
                        (click)="elementBlock(i,'description')">{{block.description}}</li>
                </ul>
            </div>

        </div>
    </div>


    <div class="clients-content-wrapper">
        <div class="clients-content about-inner-content"
             [style.padding]="
            (windowSize.width * 97)/1920 + 'px '
         + (windowSize.width * 139)/1920 + 'px '
         + (windowSize.width * 139)/1920 + 'px' ">

            <div class="heading" (click)="myClient(client.title, 'title')"
                 [style.font-size]="(windowSize.width * 65 * windowSize.rate) / 1920 + 'px'"
                 [style.line-height]="(windowSize.width * 80 * windowSize.rate) / 1920 + 'px'"
            >
                {{client.title}}
            </div>

            <div class="description" (click)="myClient(client.description, 'description')"
                 [style.font-size]="(windowSize.width * 26 * windowSize.rate) / 1920 + 'px'"
                 [style.line-height]="(windowSize.width * 45 * windowSize.rate) / 1920 + 'px'"
            >
                {{client.description}}
            </div>

            <div class="partners">

                <div class="row m-0">

                    <div *ngFor="let block of client.blocks; let i = index" class="col-4 col-md-3 partner  m-0 p-0">
                        <ng-container *ngIf="block.text">
                            <div class="partner-text" (click)="clientBlock(i)">
                                {{block.text}}
                            </div>
                        </ng-container>

                        <ng-container *ngIf="block.backGround">
                            <div class="partner-img" [style.backgroundImage]="'url('+ block.backGround +')'"
                                 (click)="clientBlock(i)">

                            </div>
                            <div style="display: none;">
                                <input type="file" [id]="'clientBlock' + i"
                                       (change)="clientImage($event)">
                                <label [for]="'clientBlock' + i">choose a file</label>
                            </div>

                        </ng-container>
                    </div>

                </div>

            </div>

        </div>
    </div>


    <div class="remark-content-wrapper">
        <div class="remark-content about-inner-content"
             [style.padding]="
            (windowSize.width * 97)/1920 + 'px '
         + (windowSize.width * 139)/1920 + 'px '
         + (windowSize.width * 139)/1920 + 'px' ">

            <div class="whole-remark">

                <div class="text" (click)="myRemark(remark.title, 'title')"
                     [style.font-size]="(windowSize.width * 45 * windowSize.rate) / 1920 + 'px'"
                     [style.line-height]="(windowSize.width * 61 * windowSize.rate) / 1920 + 'px'"
                >
                    {{remark.title}}
                </div>

                <div class="author" (click)="myRemark(remark.description, 'description')"
                     [style.font-size]="(windowSize.width * 26 * windowSize.rate) / 1920 + 'px'"
                     [style.line-height]="(windowSize.width * 35 * windowSize.rate) / 1920 + 'px'"
                >
                    {{remark.description}}
                </div>

            </div>

        </div>
    </div>


    <div class="leadership-content-wrapper">
        <div class="leadership-content about-inner-content"
             [style.padding]="
            (windowSize.width * 97)/1920 + 'px '
         + (windowSize.width * 139)/1920 + 'px '
         + (windowSize.width * 139)/1920 + 'px' ">

            <div class="heading" (click)="myLeadership(leadership.title, 'title', '')"
                 [style.font-size]="(windowSize.width * 65 * windowSize.rate) / 1920 + 'px'"
                 [style.line-height]="(windowSize.width * 88 * windowSize.rate) / 1920 + 'px'"
            >
                {{leadership.title}}
            </div>

            <div class="description" (click)="myLeadership(leadership.description, 'description', '')"
                 [style.font-size]="(windowSize.width * 22 * windowSize.rate) / 1920 + 'px'"
                 [style.line-height]="(windowSize.width * 35 * windowSize.rate) / 1920 + 'px'"
            >
                {{leadership.description}}
            </div>

            <div class="leaders">
                <div class="leader">
                    <div class="image" [style.backgroundImage]="'url('+ leadership.first.avatar +')'"
                         (click)="myLeadership(leadership.first, 'first', 'avatar')">
                        <div style="display: none;">
                            <input type="file" [id]="'first_avatar'"
                                   (change)="leadershipImage($event)">
                            <label [for]="'first_avatar'">choose a file</label>
                        </div>
                    </div>
                    <div class="about">
                        <div class="author" (click)="myLeadership(leadership.first.name, 'first', 'name')"
                             [style.font-size]="(windowSize.width * 19 * windowSize.rate) / 1920 + 'px'"
                             [style.line-height]="(windowSize.width * 25 * windowSize.rate) / 1920 + 'px'"
                        >
                            {{leadership.first.name}}
                        </div>
                        <div class="position" (click)="myLeadership(leadership.first.job, 'first', 'job')"
                             [style.font-size]="(windowSize.width * 16 * windowSize.rate) / 1920 + 'px'"
                             [style.line-height]="(windowSize.width * 25* windowSize.rate) / 1920 + 'px'"
                        >
                            {{leadership.first.job}}
                        </div>
                    </div>
                </div>
                <div class="leader">
                    <div class="image" [style.backgroundImage]="'url('+ leadership.second.avatar +')'"
                         (click)="myLeadership(leadership.first, 'second', 'avatar')">
                        <div style="display: none;">
                            <input type="file" [id]="'second_avatar'"
                                   (change)="leadershipImage($event)">
                            <label [for]="'second_avatar'">choose a file</label>
                        </div>
                    </div>
                    <div class="about">
                        <div class="author" (click)="myLeadership(leadership.second.name, 'second', 'name')"
                             [style.font-size]="(windowSize.width * 19 * windowSize.rate) / 1920 + 'px'"
                             [style.line-height]="(windowSize.width * 25* windowSize.rate) / 1920 + 'px'"
                        >
                            {{leadership.second.name}}
                        </div>
                        <div class="position" (click)="myLeadership(leadership.second.job, 'second', 'job')"
                             [style.font-size]="(windowSize.width * 16 * windowSize.rate) / 1920 + 'px'"
                             [style.line-height]="(windowSize.width * 25 * windowSize.rate) / 1920 + 'px'"
                        >
                            {{leadership.second.job}}
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <div class="our-awards-content-wrapper">
        <div class="our-awards-content about-inner-content"
             [style.padding]="
            (windowSize.width * 97)/1920 + 'px '
         + (windowSize.width * 139)/1920 + 'px '
         + (windowSize.width * 139)/1920 + 'px' ">

            <div class="heading" (click)="myAwards(awards.title, 'title')"
                 [style.font-size]="(windowSize.width * 65 * windowSize.rate) / 1920 + 'px'"
                 [style.line-height]="(windowSize.width * 80 * windowSize.rate) / 1920 + 'px'"
            >
                {{awards.title}}
            </div>

            <div class="description" (click)="myAwards(awards.description, 'description')"
                 [style.font-size]="(windowSize.width * 26 * windowSize.rate) / 1920 + 'px'"
                 [style.line-height]="(windowSize.width * 45 * windowSize.rate) / 1920 + 'px'"
                 [style.width]="(windowSize.width * 675 * windowSize.rate) / 1920 + 'px'"
            >
                {{awards.description}}

            </div>

            <div class="awards">
                <div class="row m-0">
                    <div class="col-3 award award-text">
                        <ul>
                            <li *ngFor="let row of awards.first; let i = index"
                                (click)="awardsFirst(row,i)">{{row}}</li>
                        </ul>
                    </div>

                    <div class="col-3 award award-img" (click)="awardsBlock('awards',i)"
                         *ngFor="let img of awards.blocks; let i = index"
                         [style.backgroundImage]="'url('+ img +')'">
                        <div style="display: none;">
                            <input type="file" [id]="'awards' + i"
                                   (change)="awardsImage($event)">
                            <label [for]="'awards' + i">choose a file</label>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>


</div>
