<div *ngIf="!done">Loading...</div>
<div class="speaking-content-wrapper" *ngIf="done">

    <!--    <p class="contact-title">Feeling good about working with us?</p>-->
    <!--    <p class="contact-description">Please provide a brief description of your bussines and well do our best to get back-->
    <!--        to you in a timely manner.-->
    <!--    </p>-->

    <div class="speaking-content col-12">
        <p class="speaking-description"
           [style.font-size]="(windowSize.width * content.description.fontSize * windowSize.rate) / 1920 + 'px'"
           [style.line-height]="(windowSize.width * content.description.lineHeight * windowSize.rate) / 1920 + 'px'"
           [style.font-family]="content.description.fontFamily"
        >
            {{content.description.text}}
        </p>

        <app-contact-form [type]="'opportunity'" [buttonValue]="content.buttonText"></app-contact-form>

    </div>

</div>
