<div class="custom-container pt-0 pb-0">
    <div class="footer-wrapper mt-0 float-left">
        <div class="link-block h-100"
             [ngStyle]="{'background-color' : 'black'}">
            <div class="content h-100">
                <div class="content-wrapper h-100">
                    <div class="title h-80">{{footerText}}</div>
                    <div class="link h-20">
                        <a target="_blank" [href]="footerLink">contact us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>