<nz-layout #page>
    <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="triggerTemplate">
        <div class="logo">
        </div>
        <ul nz-menu [nzTheme]="'dark'" [nzMode]="'inline'" [nzInlineCollapsed]="isCollapsed">
            <li nz-menu-item routerLink="/settings"><span><i nz-icon type="setting"></i><span
                class="nav-text">Settings</span></span></li>

<!--            <li nz-menu-item routerLink="/page"><span><i nz-icon type="read"></i><span-->
<!--                class="nav-text">Pages</span></span></li>-->

<!--            <li nz-menu-item routerLink="/post"><span><i nz-icon type="picture"></i><span-->
<!--                class="nav-text">Stories</span></span></li>-->

            <li nz-menu-item routerLink="/media"><span><i nz-icon type="inbox"></i><span
                class="nav-text">Media</span></span></li>

            <li nz-menu-item routerLink="/team"><span><i nz-icon nzType="team" nzTheme="outline"></i><span
                class="nav-text">Team</span></span></li>

<!--            <li nz-menu-item routerLink="/slider"><span><i nz-icon type="sliders"></i><span-->
<!--                class="nav-text">Slider</span></span></li>-->

            <li nz-menu-item routerLink="/logo"><span><i nz-icon type="sliders"></i><span
                class="nav-text">Logo</span></span></li>

<!--            <li nz-menu-item routerLink="/portfolio"><span><i nz-icon type="solution"></i>-->
<!--                <span class="nav-text">Portfolio</span></span></li>-->

            <li nz-menu-item routerLink="/works"><span><i nz-icon type="solution"></i>
                <span class="nav-text">Works</span></span></li>

            <li nz-menu-item routerLink="/menu"><span><i nz-icon type="desktop"></i><span
                class="nav-text">Menu</span></span></li>

<!--            <li nz-menu-item routerLink="/block"><span><i nz-icon type="appstore"></i><span-->
<!--                class="nav-text">Blocks</span></span></li>-->

<!--            <li nz-menu-item routerLink="/group"><span><i nz-icon type="setting"></i><span-->
<!--                class="nav-text">Footer Group</span></span></li>-->

            <li nz-menu-item routerLink="/profile"><span><i nz-icon nzType="user"></i>
                <span class="nav-text">Profile Setings</span></span></li>

        </ul>
    </nz-sider>
    <nz-layout>
        <nz-header style="background: #fff; padding:0;">
            <i class="trigger" nz-icon [type]="isCollapsed?'menu-unfold':'menu-fold'"
               (click)="isCollapsed=!isCollapsed"></i>
            <button style="float: right;background-color: #00152A;display: inline-block;margin: 13px;"
                    class="btn btn-dark" (click)="logOut()">LogOut
            </button>
        </nz-header>
        <nz-content style="margin:0 16px;">
            <nz-breadcrumb style="margin:16px 0;">
                <nz-breadcrumb-item>Admin</nz-breadcrumb-item>
                <nz-breadcrumb-item>Bill</nz-breadcrumb-item>
            </nz-breadcrumb>
            <div class="router-wrapper">
                <router-outlet></router-outlet>
            </div>
        </nz-content>
        <nz-footer style="text-align: center;">Webi Armenia ©2019</nz-footer>
    </nz-layout>
</nz-layout>
<ng-template #trigger>
    <i nz-icon type="up"></i>
</ng-template>
