.custom-page{
  padding: 100px 100px 0 100px;
  @media (max-width: 1200px) and (min-width: 767px) {
    padding: 30px 50px 0 50px;
  }
  @media (max-width: 768px) {
    padding: 100px 0 20px 0;
  }
}
.contact-title{
  font-weight: bold;
}



.mat-grid-tile .mat-figure{
  justify-content: unset !important;
}
.area textarea{
  border: 1px solid grey;
  width: 97.5%;
  height: 80%;
  resize: none;
  padding: 10px;
  outline: none;

}
.button-row{
  width: 95%;
}
button{
  width: 200px;
  height: 40px;
  color: white !important;
  background: black !important;
}



