<div class="rightContentWrapper">
    <div class="contact custom-page col-12 col-lg-9 offset-lg-3">

        <div class="row navigation navigation-desc">

            <div *ngFor="let form of content, let i = index"
                    class="col-4 section"
                 [routerLinkActive]="'active section-' + i + '-active'"
                 [routerLinkActiveOptions]="{exact: true}"
                 [routerLink]="[form.key]">
                <a
                        [style.font-size]="(windowSize.width * form.title.fontSize * windowSize.rate) / 1920 + 'px'"
                        [style.line-height]="(windowSize.width * form.title.lineHeight * windowSize.rate) / 1920 + 'px'"
                        [style.font-family]="form.title.fontFamily"
                >{{form.title.text}}</a>
            </div>

<!--            <div class="col-4 section"-->
<!--                 routerLinkActive="active section-1-active"-->
<!--                 [routerLinkActiveOptions]="{exact: true}"-->
<!--                 [routerLink]="['new-business']">-->
<!--                <a-->
<!--                        [style.font-size]="(windowSize.width * 25 * windowSize.rate) / 1920 + 'px'"-->
<!--                >NEW BUSINESS</a>-->
<!--            </div>-->

<!--            <div class="col-4 section"-->
<!--                 routerLinkActive="active section-2-active"-->
<!--                 [routerLink]="['speaking-opportunity']">-->
<!--                <a-->

<!--                        [style.font-size]="(windowSize.width * 25 * windowSize.rate) / 1920 + 'px'"-->
<!--                >SPEAKING OPPORTUNITY</a>-->
<!--            </div>-->

<!--            <div class="col-4 section"-->
<!--                 routerLinkActive="active section-3-active"-->
<!--                 [routerLink]="['careers']">-->
<!--                <a-->

<!--                        [style.font-size]="(windowSize.width * 25 * windowSize.rate) / 1920 + 'px'"-->
<!--                >CAREERS</a>-->
<!--            </div>-->

        </div>

        <div class="mobile-navigation-title">
            Contact
        </div>

        <div class="row navigation navigation-mob m-0">
            <div class="col-6 offset-3 section active section-2-active">
                <form [formGroup]="locationGroup">
                    <mat-form-field>
                        <mat-select formControlName="select">
                            <mat-option value="NEW BUSINESS" [routerLink]="['business']">NEW BUSINESS</mat-option>
                            <mat-option value="SPEAKING OPPORTUNITY" [routerLink]="['opportunity']">SPEAKING OPPORTUNITY</mat-option>
                            <mat-option value="CAREERS" [routerLink]="['careers']">CAREERS</mat-option>
                        </mat-select>
                    </mat-form-field>
                </form>
            </div>
        </div>
        
        <router-outlet></router-outlet>

        <div class="row mobile-navigation">
            <div class="col-8 offset-2" routerLinkActive="active-mobile">
                <a [routerLink]="['new-business']">New Business</a>
            </div>
            <div class="col-8 offset-2" routerLinkActive="active-mobile">
                <a [routerLink]="['speaking-opportunity']">Speaking Opportunity</a>
            </div>
            <div class="col-8 offset-2" routerLinkActive="active-mobile">
                <a [routerLink]="['careers']">Careers</a>
            </div>
        </div>

    </div>
</div>

<!--<div class="pt-5">-->
    <!--    <app-all-blocks></app-all-blocks>-->
<!--</div>-->


<!--<form [formGroup]="myForm" novalidate (ngSubmit)="submit()">-->
<!--<div class="form-group.js col-6">-->

<!--<input class="form-control" name="name" formControlName="userName" />-->
<!--<label>Name</label>-->
<!--<div class="alert alert-danger"-->
<!--*ngIf="myForm.controls['userName'].invalid && myForm.controls['userName'].touched">-->
<!--No name specified-->
<!--</div>-->
<!--</div>-->
<!--<div class="form-group.js col-6">-->

<!--<input class="form-control" name="email" formControlName="userEmail" />-->
<!--<label>Email</label>-->
<!--<div class="alert alert-danger"-->
<!--*ngIf="myForm.controls['userEmail'].invalid && myForm.controls['userEmail'].touched">-->
<!--Incorrect email-->
<!--</div>-->
<!--</div>-->
<!--<div class="form-group.js col-6">-->

<!--<input class="form-control" formControlName="data" />-->
<!--<label *ngIf="myForm.controls['data'].invalid && myForm.controls['data'].touched">Data</label>-->
<!--<label ></label>-->
<!--</div>-->
<!--<div class="form-group.js col-6">-->

<!--<input class="form-control" name="name" formControlName="eventName" />-->
<!--<label>Event name</label>-->
<!--<div class="alert alert-danger"-->
<!--*ngIf="myForm.controls['eventName'].invalid && myForm.controls['eventName'].touched">-->
<!--No event name specified-->
<!--</div>-->
<!--</div>-->
<!--<div class="form-group.js">-->
<!--<label>Event name</label>-->
<!--<textarea name="text" id="" cols="100" rows="5"></textarea>-->
<!--</div>-->
<!--<div class="form-group.js">-->

<!--<button class="btn btn-dark" [disabled]="myForm.invalid">-->
<!--Submit-->
<!--</button>-->
<!--</div>-->
<!--</form>`-->


<!--</div>-->
<!--<div class="example-container">-->
<!--<mat-form-field>-->
<!--<input matInput placeholder="Input">-->
<!--</mat-form-field>-->

<!--<mat-form-field>-->
<!--<textarea matInput placeholder="Textarea"></textarea>-->
<!--</mat-form-field>-->

<!--<mat-form-field>-->
<!--<mat-select placeholder="Select">-->
<!--<mat-option value="option">Option</mat-option>-->
<!--</mat-select>-->
<!--</mat-form-field>-->
<!--</div>-->
