<div class="image-block h-100" [bgColor] ="block.bg" appHover3dRotate>

    <div class="for-dRotate h-100"   [ngStyle]="{'background-color' : block.bg}" >

        <div class="opacity" routerLink="/"><div class="opacity-header">{{block.content.hoverTitle}}</div></div>

        <div class="content h-100">
            <div class="image-wrapper text-center h-100">
                <div class="h-100 rotate-block">
                    <div class="img"><img src="../../../../assets/images/{{block.content.img}}" alt="a"></div>
                    <p class="rotate-header">{{block.content.hoverTitle}}</p>
                </div>
            </div>
        </div>

    </div>
</div>

