.img-wrapper{
  padding-right: 30px;
}

.img-wrapper img{
  width: 100%;

  object-fit: cover;
}
.detail-title{
  font-family: OpenSans sans-serif;
  font-size: 42px;
  font-weight: 600;
  line-height: 0.93;
  color: #000000;
  padding: 30px 0 ;
}
.detail-description{
  opacity: 0.7;
  font-family: OpenSans sans-serif;
  font-size: 24px;
  line-height: 1.38;
  color: #000000;
}
.detail-image-wrapper img {
  max-width: 40vw;
  max-height: 30vh;
  margin-bottom: 20px;
}
img{
  max-width: 100%;
}