<div class="rightContentWrapper">
    <div class="d-none d-md-block col-md-9 offset-md-3 col-12 col-sm-12 p-0" *ngIf="done">
        <app-stories-desc></app-stories-desc>
    </div>
</div>


<div class="custom-container " *ngIf="done">
    <div class="row story-wrapper">
        <div class="col-12">
            <div class="detail-title">
                {{story.title}}
            </div>
            <div *ngIf="story.image" class="detail-image-wrapper">
                <img [src]="imgPath + story.image" alt="">
<!--                <img src="assets/images/banner.PNG" alt="">-->
            </div>
        </div>
        <div class="col-12">
            <div [innerHTML]="story.content" class="a"></div>
        </div>

    </div>
</div>
