.img-wrapper{
  padding-right: 30px;
}

.img-wrapper img{
  width: 100%;

  object-fit: cover;
}
.detail-title{
  font-family: OpenSans sans-serif;
  font-size: 72px;
  line-height: 0.93;
  color: #000000;
  padding: 0 0 100px 0;
}
.detail-description{
  opacity: 0.7;
  font-family: OpenSans sans-serif;
  font-size: 24px;
  line-height: 1.38;
  color: #000000;
}
