<div class="new-business-content-wrapper">

    <!--    <p class="contact-title">Feeling good about working with us?</p>-->
    <!--    <p class="contact-description">Please provide a brief description of your bussines and well do our best to get back-->
    <!--        to you in a timely manner.-->
    <!--    </p>-->

    <div class="new-business-content col-12">
        <p class="new-business-description"
           [style.font-size]="(windowSize.width * 20 * windowSize.rate) / 1920 + 'px'"
           [style.line-height]="(windowSize.width * 30* windowSize.rate) / 1920 + 'px'">
            Interested in partnering with us? Please provide a brief description of your business inquiry and we’ll do
            our
            best to get back to you in a timely manner.
        </p>

        <app-contact-form [type]="'newBusiness'"></app-contact-form>

    </div>

</div>
