.big-slider {
    position: relative;

    .slider-btn {
        width: 58px;
        height: 58px;
        border-radius: 50%;
        background: #ADADAD;
        z-index: 10;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        padding: 10px;
        .img{
            background:  center center no-repeat padding-box;;
            width: 100%;
            height: 100%;
        }
    }

    .slider-next {
        padding: 10px 8px 10px 12px;
        right: 30px;
    }

    .slider-prev {
        padding: 10px 12px 10px 8px;
        left: 30px;
    }
}


.small-slider {
    position: relative;
    margin: auto;

    .slider-btn {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: #ADADAD;
        z-index: 10;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        padding: 10px;
        .img{
            width: 100%;
            height: 100%;
            background:  center center no-repeat padding-box;;
        }
    }

    .slider-next {
        right: -90px;
    }

    .slider-prev {
        left: -90px;
    }
}
