<div *ngIf="size == 'small'" class="d-none d-lg-block image-block image-block-small h-100"
     (mouseenter)="toggleAutoplay()"
     (mouseleave)="toggleAutoplay()"
>
  <div class= "h-100 w-100" [ngStyle]="{'background-color' : block.gif.bgColor}">
      <div class="content h-100">
        <div class="image-wrapper text-center h-100">
          <div class="h-100">
            <div class="img h-100">
                <img class="animated" [src]="imageUrl + block.gif.gif" alt="a">
                <img class="simple" [src]="imageUrl + block.gif.image" alt="a">
            </div>
          </div>
        </div>
      </div>
  </div>
  <div *ngIf="block.gif.mp3" class="audio">
    <audio #audioElement
           [volume]=".8"
           [autoplay]="play">
      <source [src]="imageUrl + block.gif.mp3" type="video/mp4"/>
    </audio>
  </div>
</div>

<div *ngIf="size == 'middle'" class="d-none d-lg-block image-block image-block-middle h-100">
  <div class=" h-100 w-100" [ngStyle]="{'background-color' : block.gif.bgColor}">
      <div class=" content h-100">
        <div class="image-wrapper text-center h-100">
          <div class="h-100">
            <div class="img h-100">
                <img class="animated" [src]="imageUrl + block.gif.gif" alt="a">
                <img class="simple" [src]="imageUrl + block.gif.image" alt="a">
            </div>
          </div>
        </div>
      </div>
  </div>
</div>

<!--<div *ngIf="size == 'large'" class="d-none d-lg-block image-block image-block-large h-100-->
<!--animation-{{block.content.animation ? block.content.animation: 'no'}}"-->
<!--     [ngStyle]="{'background-color' : block.content.bgColor}">-->

<!--  <div *ngIf="block.content.bgSize == 'full'" class="content h-100 img-bg-{{block.content.bgSize}}">-->
<!--    <div class="image-wrapper  h-100">-->
<!--      <div class="h-100 rotate-block">-->
<!--        <div class="img"><img [src]="imageUrl + block.content.image" alt="a"></div>-->
<!--        <p class="rotate-header">{{block.content.animationText}}</p>-->
<!--      </div>-->
<!--      <div class="full-text-content">-->
<!--        <p class="animation-text">{{block.content.animationText}}</p>-->
<!--        <a *ngIf="block.content.url" href="{{block.content.url}}" target="_blank">see more ...</a>-->
<!--      </div>-->
<!--    </div>-->

<!--  </div>-->

<!--  <div *ngIf="block.content.bgSize == 'center'" class="content h-100 img-bg-{{block.content.bgSize}}"-->
<!--       style="padding: 50px;">-->

<!--    <div class="row my-content">-->
<!--      <div class="col-8">-->
<!--        <div class="text-content">-->
<!--          <p class="animation-text">{{block.content.animationText}}</p>-->
<!--          <a *ngIf="block.content.url" href="{{block.content.url}}" target="_blank">see more ...</a>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col-4 image-wrapper h-100">-->
<!--        <div class="h-100 rotate-block">-->
<!--          <div class="img"><img [src]="imageUrl + block.content.image" alt="a"></div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

<!--</div>-->

<div class="d-block d-lg-none image-block-mobile image-block">
    <div class="content h-100"
         [ngStyle]="{'background-color' : block.gif.bgColor}">
      <div class="image-wrapper text-center h-100">
        <div class="h-100">
          <div class="img h-100">
              <img class="animated" [src]="imageUrl + block.gif.gif" alt="a">
              <img class="simple" [src]="imageUrl + block.gif.image" alt="a">
          </div>
        </div>
      </div>
    </div>
</div>
